{% load i18n %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include "other/components/head.html" %}
<body>

{% block content %}{% endblock %}

{% include "other/components/footer.html" %}
</body>
</html>