{% extends 'other/base.html' %}
{% load static %}

{% block content %}
    <section class="detail-banner">
        <div class="camps-banner-img">
            <img src="{% static 'front/img/pbanner.png' %}">
        </div>
        {% include "other/components/navbar.html" %}
        <div class="enter text-center">
            <div class="container">
                <div class="spring">
                    <span>Добро пожаловать!</span>
                </div>
                <div class="enter-text detail-enter-text">
                    <span>Dilnoza Mannonova</span>
                </div>
            </div>
        </div>
        <div class="detail-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="detail-prav">
                            <a href="#">
                                <img src="{% static 'front/img/detail-left.png' %}">
                                <span>Назад</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="cab-read">
                            <a href="#">
                                <span>Забронировать</span>
                                <img src="{% static 'front/img/za.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cabinet-section">
        <div class="container">
            <div class="row">
                <div class="col-my-3 col-xl-12">
                    <div class="cab-menu">
                        <ul>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M0,0H24V24H0Z" fill="none"/>
                                        <path d="M12,12A4,4,0,1,0,8,8,4,4,0,0,0,12,12Zm0,2c-2.67,0-8,1.34-8,4v2H20V18C20,15.34,14.67,14,12,14Z"/>
                                    </svg>
                                    <span>Персональные данные</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M0,0H24V24H0Z" fill="none"/>
                                        <path d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.28,2,8.5A5.447,5.447,0,0,1,7.5,3,5.988,5.988,0,0,1,12,5.09,5.988,5.988,0,0,1,16.5,3,5.447,5.447,0,0,1,22,8.5c0,3.78-3.4,6.86-8.55,11.54Z"/>
                                    </svg>
                                    <span>Избранные</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M0,0H24V24H0Z" fill="none"/>
                                        <path d="M17,3H7A2,2,0,0,0,5.01,5L5,21l7-3,7,3V5A2.006,2.006,0,0,0,17,3Z"/>
                                    </svg>
                                    <span>Мои заявки</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M0,0H24V24H0Z" fill="none"/>
                                        <path d="M0,0H24V24H0Z" fill="none"/>
                                        <path d="M12,17.27,18.18,21l-1.64-7.03L22,9.24l-7.19-.61L12,2,9.19,8.63,2,9.24l5.46,4.73L5.82,21Z"/>
                                    </svg>
                                    <span>Мои отзывы</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M0,0H24V24H0Z" fill="none"/>
                                        <path d="M21,3.01H3a2.006,2.006,0,0,0-2,2V9H3V4.99H21V19.02H3V15H1v4.01a1.989,1.989,0,0,0,2,1.98H21a1.989,1.989,0,0,0,2-1.98v-14a2,2,0,0,0-2-2ZM11,16l4-4L11,8v3H1v2H11Z"/>
                                    </svg>
                                    <span>Выйти</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-my-9 col-xl-12">
                    <div class="cab-content">
                        <div class="cab-camps">
                            <div class="camps-in">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="camps-img">
                                            <a href="#">
                                                <div class="camps-img-in">
                                                    <img src="{% static 'front/img/camp1.jpg' %}">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6">
                                        <div class="camps-right">
                                            <div class="camps-title">
                                                <a href="#">Детский лагерь «Семург» при Министерстве
                                                    здравоохранения
                                                    РУз.</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="camps-data">
                                                    <img src="{% static 'front/img/age.png' %}">
                                                    <span class=" left">Возраст:</span>
                                                    <span class="right">от 8 до 14 лет</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="camps-data">
                                                    <img src="{% static 'front/img/day.png' %}">
                                                    <span class=" left">Смена:</span>
                                                    <span class="right">21 день</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/address.png' %}">
                                            <span class=" left">Адрес:</span>
                                            <span class="right">Ташкентская обл., Бустонлыкский р-н, Юсуфхона, дом 5</span>
                                        </div>
                                        <div class="camps-maps-link">
                                            <a href="#">
                                                <span>Посмотреть на карте</span>
                                                <img src="{% static 'front/img/red-right.png' %}">
                                            </a>
                                        </div>
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/price.png' %}">
                                            <span class=" left">Цена:</span>
                                            <span class="price">от 2 300 000 сум</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="camps-rate">
                                                    <div class="rate">
                                                        <input type="radio" id="star5" name="rate"
                                                               value="5"/>
                                                        <label for="star5" title="text5">5 stars</label>
                                                        <input type="radio" id="star4" name="rate"
                                                               value="4"/>
                                                        <label for="star4" title="text4">4 stars</label>
                                                        <input type="radio" id="star3" name="rate"
                                                               value="3"/>
                                                        <label for="star3" title="text3">3 stars</label>
                                                        <input type="radio" id="star2" name="rate"
                                                               value="2"/>
                                                        <label for="star2" title="text2">2 stars</label>
                                                        <input type="radio" id="star1" name="rate"
                                                               value="1"/>
                                                        <label for="star1" title="text1">1 star</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="camps-read">
                                                    <a href="#">
                                                        <span>Подробнее</span>
                                                        <img src="{% static 'front/img/white-right.png' %}">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cab-camps">
                            <div class="camps-in">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="camps-img">
                                            <a href="#">
                                                <div class="camps-img-in">
                                                    <img src="{% static 'front/img/camp1.jpg' %}">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6">
                                        <div class="camps-right">
                                            <div class="camps-title">
                                                <a href="#">Детский лагерь «Семург» при Министерстве
                                                    здравоохранения
                                                    РУз.</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="camps-data">
                                                    <img src="{% static 'front/img/age.png' %}">
                                                    <span class=" left">Возраст:</span>
                                                    <span class="right">от 8 до 14 лет</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="camps-data">
                                                    <img src="{% static 'front/img/day.png' %}">
                                                    <span class=" left">Смена:</span>
                                                    <span class="right">21 день</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/address.png' %}">
                                            <span class=" left">Адрес:</span>
                                            <span class="right">Ташкентская обл., Бустонлыкский р-н, Юсуфхона, дом 5</span>
                                        </div>
                                        <div class="camps-maps-link">
                                            <a href="#">
                                                <span>Посмотреть на карте</span>
                                                <img src="{% static 'front/img/red-right.png' %}">
                                            </a>
                                        </div>
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/price.png' %}">
                                            <span class=" left">Цена:</span>
                                            <span class="price">от 2 300 000 сум</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="camps-rate">
                                                    <div class="rate">
                                                        <input type="radio" id="star5" name="rate"
                                                               value="5"/>
                                                        <label for="star5" title="text5">5
                                                            stars</label>
                                                        <input type="radio" id="star4" name="rate"
                                                               value="4"/>
                                                        <label for="star4" title="text4">4
                                                            stars</label>
                                                        <input type="radio" id="star3" name="rate"
                                                               value="3"/>
                                                        <label for="star3" title="text3">3
                                                            stars</label>
                                                        <input type="radio" id="star2" name="rate"
                                                               value="2"/>
                                                        <label for="star2" title="text2">2
                                                            stars</label>
                                                        <input type="radio" id="star1" name="rate"
                                                               value="1"/>
                                                        <label for="star1" title="text1">1
                                                            star</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="camps-read">
                                                    <a href="#">
                                                        <span>Подробнее</span>
                                                        <img src="{% static 'front/img/white-right.png' %}">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

