{% extends 'other/base.html' %}
{% load static %}

{% block content %}

    <section class="detail-banner">
        <div class="camps-banner-img">
            <img src="{% static 'front/img/pdetail.png' %}">
        </div>
        {% include "other/components/navbar.html" %}
        <div class="enter text-center">
            <div class="container">
                <div class="spring">
                    <span>Сезон: 2021</span>
                </div>
                <div class="enter-text detail-enter-text">
                    <span>Детский лагерь «Семург» при Министерстве здравоохранения РУз.</span>
                </div>
            </div>
        </div>
        <div class="detail-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="detail-prav">
                            <a href="#">
                                <img src="{% static 'front/img/detail-left.png' %}">
                                <span>Назад</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="detail-stars">
                            <div class="rate pl-3 pr-3">
                                <input type="radio" id="star5" name="rate" value="5"/>
                                <label for="star5" title="text5">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4"/>
                                <label for="star4" title="text4">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3"/>
                                <label for="star3" title="text3">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2"/>
                                <label for="star2" title="text2">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1"/>
                                <label for="star1" title="text1">1 star</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="detail-comment">
                            <span>Отзывы (8)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="camps-detail">
        <div class="container detail-container">
            <div class="detail">
                <div class="owl-detail">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="owl-detail-img">
                                <img src="{% static 'front/img/detail.jpg' %}">
                            </div>
                        </div>
                        <div class="item">
                            <div class="owl-detail-img">
                                <img src="{% static 'front/img/detail1.jpg' %}">
                            </div>
                        </div>
                        <div class="item">
                            <div class="owl-detail-img">
                                <img src="{% static 'front/img/detail2.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="detail-tabs">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">Описание</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false">Документы</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                       aria-controls="contact" aria-selected="false">Отзывы (8)</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="detail-tab-title">
                                        <span>Детский лагерь «Семург» при Министерстве здравоохранения РУз.</span>
                                    </div>
                                    <div class="char">
                                        <div class="char-title">
                                            <img src="{% static 'front/img/d1.png' %}">
                                            <span>Характеристики:</span>
                                        </div>
                                        <div class="char-list">
                                            <a href="#">Горы</a>
                                            <a href="#">Бассейн</a>
                                            <a href="#">Спорт</a>
                                            <a href="#">Научно-познавательный</a>
                                            <a href="#">5-ти разовое питание</a>
                                        </div>
                                    </div>
                                    <div class="detail-content-out">
                                        <div class="detail-content-title">
                                            <img src="{% static 'front/img/d2.png' %}">
                                            <span>Описание:</span>
                                        </div>
                                        <div class="detail-content">
                                            <p>Летний отдых в детском лагере – это не только незабываемые мероприятия,
                                                интересные квесты, интеллектуальные и ролевые игры, но и уникальная
                                                возможность провести время с пользой, совершенствоваться как личность,
                                                улучшать и развивать уже полученные навыки и формирование лидерских
                                                качеств.
                                                Питание: 5-разовое питание. Меню разнообразное, блюда – полезные и
                                                вкусные,
                                                порции – стандартные для возраста. За каждым ребенком закрепляется его
                                                место
                                                в столовой на весь период заезда. Дети самостоятельно накрывают столы
                                                (составляется график дежурств). Программа лагеря: Командные — баскетбол,
                                                футбол, волейбол, снайпер, пионербол, туристические эстафеты.
                                                Индивидуальные
                                                — теннис, бадминтон, настольный теннис, радиоспорт, летающие тарелки,
                                                легкая
                                                атлетика, шахматы, шашки.Нетрадиционные — лапта, аэробика, «город за
                                                городом»</p>
                                            <p>О лагере:</p>
                                            <p>ДЦ «Орлёнок» - это комплекс детских лагерей, рассчитанный на оздоровление
                                                и
                                                активный отдых ребят от 11 до 16 лет (6-10 классы). Он располагается на
                                                морском курорте и состоит из семи лагерей: «Штормовой», «Олимпийский»,
                                                «Звездный», «Стремительный», «Солнечный», «Дозорный», «Комсомольский».
                                                Лагерь «Солнышко», предназначенный для самых маленьких - школьников
                                                младших
                                                классов (от 7 до 10 лет).</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <h2>321</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <h2>987</h2>
                                    <p>654 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="detail-item rate-left-out">
                            <div class="rate-left">
                                <img src="{% static 'front/img/age.png' %}">
                                <span class="detail-item-left">Рейтинг:</span>
                            </div>
                            <div class="detail-rate">
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5"/>
                                    <label for="star5" title="text5">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4"/>
                                    <label for="star4" title="text4">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3"/>
                                    <label for="star3" title="text3">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2"/>
                                    <label for="star2" title="text2">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1"/>
                                    <label for="star1" title="text1">1 star</label>
                                </div>
                            </div>
                        </div>
                        <div class="detail-item">
                            <img src="{% static 'front/img/age.png' %}">
                            <span class="detail-item-left">Возраст:</span>
                            <span class="detail-item-right">от 8 до 14 лет</span>
                        </div>
                        <div class="detail-item">
                            <img src="{% static 'front/img/address.png' %}">
                            <span class="detail-item-left">Адрес:</span>
                        </div>
                        <div class="detail-description">
                            <span>Ташкентская обл., Бустонлыкский р-н, Юсуфхона, дом 5</span>
                        </div>
                        <div class="detail-maps">
                            <a href="#">
                                <span>Посмотреть на карте</span>
                                <img src="{% static 'front/img/red-right.png' %}">
                            </a>
                        </div>
                        <div class="detail-item">
                            <img src="{% static 'front/img/price.png' %}">
                            <span class="detail-item-left">Цена:</span>
                            <span class="green-price">Путёвка в наличии</span>
                        </div>
                        <div class="red-price">
                            <span>2 369 781,00 сум</span>
                        </div>
                        <div class="detail-online">
                            <a href="#">
                                <img src="{% static 'front/img/f-apelsin.png' %}">
                            </a>
                            <a href="#">
                                <img src="{% static 'front/img/f-payme.png' %}">
                            </a>
                            <a href=" #">
                                <img src="{% static 'front/img/f-click.png' %}">
                            </a>
                        </div>
                        <div class=" za-love">
                            <button type="button" class="za" data-toggle="modal" data-target="#exampleModal">
                                <span>Забронировать</span>
                                <img src="{% static 'front/img/za.png' %}">
                            </button>
                            <a href="#" class="love">
                                <img src="{% static 'front/img/love.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if user.is_authenticated %}
        <section class="my-model">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <form class="camps-form" id="camps-form" method="POST" action="">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <img src="{% static 'front/img/modal.png' %}">
                                    <span>Заявка на бронирования</span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="camps-name">
                                    <span>Детский лагерь «Семург» при Министерстве здравоохранения РУз.</span>
                                </div>
                                <div class="parent-data">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mt-2">
                                                <label for="id1">Familya:</label>
                                                <input type="text" class="form-control" id="id1" aria-describedby="Name"
                                                       disabled value="{{ user.last_name }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-2">
                                                <label for="id2">Ism:</label>
                                                <input type="email" class="form-control" id="id2"
                                                       aria-describedby="Name"
                                                       disabled value="{{ user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-2">
                                                <label for="id3">Otasi ismi:</label>
                                                <input type="text" class="form-control" id="id3" aria-describedby="Name"
                                                       disabled value="{{ user.mid_name }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-2">
                                                <label for="id3">Passport raqami:</label>
                                                <input type="text" class="form-control" id="id3" aria-describedby="Name"
                                                       disabled value="{{ user.pport_no }}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group mt-2">
                                                <label for="id6">Address:</label>
                                                <input type="email" class="form-control" id="id6"
                                                       aria-describedby="Name"
                                                       disabled value="{{ user.address }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-2">
                                                <label for="id4">Telefon raqam:</label>
                                                <input type="text" class="form-control" id="id4" aria-describedby="Name"
                                                       value="{{ user.phone_number }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-2">
                                                <label for="id5">Email:</label>
                                                <input type="text" class="form-control" id="id5" aria-describedby="Name"
                                                       disabled value="{{ user.email }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="camps-name">
                                    <span>Bilet olish</span>
                                </div>

                                {{ formset.management_form }}
                                {% for form in formset %}
                                    <div class="row form-row spacer card bg-light p-3 mt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group mt-2">
                                                        <label for="">F.I.SH</label>
                                                        {{ form.name }}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group mt-2 gender-select">
                                                        <label for="">Jinsi</label>
                                                        {{ form.gender }}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group mt-2">
                                                        <label for="">Yoshi</label>
                                                        {{ form.age }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mt-2">
                                                        <label for="">Smena</label>
                                                        <select class="form-control" aria-label="Default select example"
                                                                name="shift">
                                                            {% for shift in shifts %}
                                                                <option value="{{ shift.id }}">{{ shift }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="input-group-append ml-3">
                                                    <button class="btn btn-success add-form-row">Yana qo'shish</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {#                                <div class="row spacer">#}
                                {#                                    <div class="col-4 offset-2">#}
                                {#                                        <button type="submit" class="btn btn-block btn-primary">Create</button>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>
                            <div class="modal-footer justify-content-between">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Согласен/а с политикой обработки
                                        персональных данных</label>
                                </div>
                                <button type="submit" class="za" data-toggle="modal" data-target="#exampleModal">
                                    <span>Забронировать</span>
                                    <img src="{% static 'front/img/za.png' %}">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
