{% extends 'other/base.html' %}
{% load static %}

{% block content %}

    <section class="camps-banner">
        <div class="camps-banner-img">
            <img src="{% static 'front/img/pbanner.png' %}">
        </div>
        {% include "other/components/navbar.html" %}
        <div class="enter text-center">
            <div class="container">
                <div class="spring">
                    <span>Сезон: 2021</span>
                </div>
                <div class="enter-text">
                    <span>Детские летние лагеря<br> Узбекистана</span>
                </div>
            </div>
        </div>
        <div class="select pb-5">
            <div class="container">
                <div class="select-title">
                    <span>Подберите лучший вариант для вашего ребенка</span>
                </div>
                <div class="select-form">
                    <form>
                        <div class="select-div">
                            <select>
                                <option>Все области</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-div">
                            <select>
                                <option>Все районы</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-div">
                            <select>
                                <option>Возраст</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-div">
                            <select>
                                <option>Все характеристики</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-submit">
                            <button>
                                <span>Подобрать</span>
                                <img src="{% static 'front/img/select.png' %}">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="pcamps-section">
        <div class="pcamps-container container">
            <div class="result">
                <span class="result-text">Показаны результаты:</span>
                <span class="result-number">10</span>
                <span class="result-text">из</span>
                <span class="result-number">358</span>
            </div>
            {% for camp in camps %}
                <div class="pcamps">
                    <div class="camps-in">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="camps-img">
                                    <a href="{% url 'camps:camps_detail' camp.id %}">
                                        <div class="camps-img-in">
                                            <img src="{% static 'front/img/camp1.jpg' %}">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="camps-right">
                                    <div class="camps-title">
                                        <a href="{% url 'camps:camps_detail' camp.id %}">{{ camp.name }}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/age.png' %}">
                                            <span class="left">Возраст:</span>
                                            <span class="right">от 8 до 14 лет</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/day.png' %}">
                                            <span class="left">Смена:</span>
                                            <span class="right">21 день</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="camps-data">
                                    <img src="{% static 'front/img/address.png' %}">
                                    <span class="left">Адрес:</span>
                                    <span class="right">{{ camp.address }}</span>
                                </div>
                                <div class="camps-maps-link">
                                    <a href="#">
                                        <span>Посмотреть на карте</span>
                                        <img src="{% static 'front/img/red-right.png' %}">
                                    </a>
                                </div>
                                <div class="camps-data">
                                    <img src="{% static 'front/img/price.png' %}">
                                    <span class="left">Цена:</span>
                                    <span class="price">от {{ camp.cost }} сум</span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="camps-rate">
                                            <div class="rate">
                                                <input type="radio" id="star5" name="rate" value="5"/>
                                                <label for="star5" title="text5">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4"/>
                                                <label for="star4" title="text4">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3"/>
                                                <label for="star3" title="text3">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2"/>
                                                <label for="star2" title="text2">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1"/>
                                                <label for="star1" title="text1">1 star</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="camps-read">
                                            <a href="{% url 'camps:camps_detail' camp.id %}">
                                                <span>Подробнее</span>
                                                <img src="{% static 'front/img/white-right.png' %}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="my-pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="" href="#" aria-label="Previous">
                                <img src="{% static 'front/img/p-left.png' %}">
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="" href="#" aria-label="Next">
                                <img src="{% static 'front/img/p-right.png' %}">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
