{% extends 'other/base.html' %}
{% load i18n %}

{% load static %}

{% block content %}
    <section class="banner">
        <div class="banner-img">
            <img src="{% static 'front/img/banner.jpg' %}">
        </div>
        {% include "other/components/navbar.html" %}
        <div class="enter">
            <div class="container my-container">
                <div class="spring">
                    <span>Сезон: 2021</span>
                    <span>{% trans "Let's translate this!" %}</span>
                </div>
                <div class="enter-text">
                    <span>Детские<br> летние лагеря<br> Узбекистана</span>
                </div>
            </div>
        </div>
        <div class="select">
            <div class="container my-container">
                <div class="select-title">
                    <span>Подберите лучший вариант для вашего ребенка</span>
                </div>
                <div class="select-form">
                    <form>
                        <div class="select-div">
                            <select>
                                <option>Все области</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-div">
                            <select>
                                <option>Все районы</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-div">
                            <select>
                                <option>Возраст</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-div">
                            <select>
                                <option>Все характеристики</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <span class="select-line"></span>
                        </div>
                        <div class="select-submit">
                            <button>
                                <span>Подобрать</span>
                                <img src="{% static 'front/img/select.png' %}">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="camps-section">
        <div class="container my-container">
            <div class="heading">
                <span>Популярные предложения</span><br>
                <span>для детского отдыха в Узбекистане</span>
            </div>
        </div>
    </section>

    <section class="owl-camps-section">
        <div class="owl-camps">
            <div class="owl-carousel owl-theme">
                {% for camp in camps %}
                    <div class="item">
                        <div class="camps">
                            <div class="camps-in">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="camps-img">
                                            <a href="{% url 'camps:camps_detail' camp.id %}">
                                                <div class="camps-img-in">
                                                    <img src="{% static 'front/img/camp1.jpg' %}">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="camps-right">
                                            <div class="camps-title">
                                                <a href="{% url 'camps:camps_detail' camp.id %}">{{ camp.name }}</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="camps-data">
                                                    <img src="{% static 'front/img/age.png' %}">
                                                    <span class="left">Возраст:</span>
                                                    <span class="right">от 8 до 14 лет</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="camps-data">
                                                    <img src="{% static 'front/img/day.png' %}">
                                                    <span class="left">Смена:</span>
                                                    <span class="right">21 день</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/address.png' %}">
                                            <span class="left">Адрес:</span>
                                            <span class="right">{{ camp.address }}</span>
                                        </div>
                                        <div class="camps-maps-link">
                                            <a href="#">
                                                <span>Посмотреть на карте</span>
                                                <img src="{% static 'front/img/red-right.png' %}">
                                            </a>
                                        </div>
                                        <div class="camps-data">
                                            <img src="{% static 'front/img/price.png' %}">
                                            <span class="left">Цена:</span>
                                            <span class="price">от {{ camp.cost }} сум</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="camps-rate">
                                                    <div class="rate">
                                                        <input type="radio" id="star5" name="rate" value="5"/>
                                                        <label for="star5" title="text5">5 stars</label>
                                                        <input type="radio" id="star4" name="rate" value="4"/>
                                                        <label for="star4" title="text4">4 stars</label>
                                                        <input type="radio" id="star3" name="rate" value="3"/>
                                                        <label for="star3" title="text3">3 stars</label>
                                                        <input type="radio" id="star2" name="rate" value="2"/>
                                                        <label for="star2" title="text2">2 stars</label>
                                                        <input type="radio" id="star1" name="rate" value="1"/>
                                                        <label for="star1" title="text1">1 star</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="camps-read">
                                                    <a href="{% url 'camps:camps_detail' camp.id %}">
                                                        <span>Подробнее</span>
                                                        <img src="{% static 'front/img/white-right.png' %}">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="camps-all">
            <div class="camps-read-all">
                <a href="{% url 'camps:camps_list' %}">
                    <span>Весь каталог</span>
                    <img src="{% static 'front/img/white-right.png' %}">
                </a>
            </div>
        </div>
    </section>

    <section class="service-section">
        <div class="container my-container">
            <div class="heading">
                <span>О сервисе</span><br>
                <span>Что мы предлагаем?</span>
            </div>
        </div>
        <div class="container">
            <div class="service-content">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="service-g" data-cue="slideInDown">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="service-left">
                                        <p>Более</p>
                                        <h1>350</h1>
                                        <p>Государственных и частных лагерей</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="service-right">
                                        <div class="service-title">
                                            <a href="#">Самый обширный каталог детских оздоровительных летних лагерей
                                                Узбекистана</a>
                                        </div>
                                        <div class="service-link">
                                            <a href="#">
                                                <span>Перейти в каталог</span>
                                                <img src="{% static 'front/img/service-right.png' %}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-g" data-cue="slideInLeft">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="service-left">
                                        <p>На данное время</p>
                                        <h1>1843</h1>
                                        <p>родители забронировали путёвки онлайн</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="service-right">
                                        <div class="service-title">
                                            <a href="#">Удобный фильтр каталога для выбора, отзывы, рейтинги и
                                                бронирования путёвок</a>
                                        </div>
                                        <div class="service-link">
                                            <a href="#">
                                                <span>Как бронировать?</span>
                                                <img src="{% static 'front/img/service-right.png' %}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6" data-cue="bounceInUp">
                        <div class="service-v">
                            <div class="service-online">
                                <p>Можно оплатить через</p>
                                <div class="service-online-red">
                                    <span>PayMe </span>
                                    <span>Click </span><br>
                                    <span>Apelsin </span>
                                    <span>Uzcard</span>
                                </div>
                                <p>Кроме, можно оплатить путёвку через банк</p>
                            </div>
                            <div class="service-title-v">
                                <a href="#">Онлайн оплата, верификация родителей, оформления путёвок и личный
                                    кабинет</a>
                            </div>
                            <div class="service-link">
                                <a href="#">
                                    <span>Как бронировать?</span>
                                    <img src="{% static 'front/img/service-right.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6" data-cue="bounceInUp">
                        <div class="service-v">
                            <div class="service-img">
                                <img src="{% static 'front/img/gerb.png' %}">
                            </div>
                            <div class="service-title-v">
                                <a href="#">Сервис работает под Гос. управлением при Министерстве туризма и спорта</a>
                            </div>
                            <div class="service-link">
                                <a href="#">
                                    <span>Как бронировать?</span>
                                    <img src="{% static 'front/img/service-right.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="stat-section">
        <div class="container my-container">
            <div class="heading">
                <span>Статистика</span><br>
                <span>Данные приведены по всей РУз</span>
            </div>
        </div>
        <div class="container">
            <div class="row" data-cues="slideInDown" id="counters_1">
                <div class="col-my-3 col-md-6">
                    <div class="stat">
                        <div class="stat-icon">
                            <img src="{% static 'front/img/ser1.png' %}">
                        </div>
                        <div class="stat-title">
                            <span>Общее количество лагерей</span>
                        </div>
                        <div class="stat-number">
                            <span class="counter" data-TargetNum="358"></span>
                        </div>
                        <div class="stat-grow">
                            <span>+17</span>
                        </div>
                        <div class="stat-description">
                            <span>в сравнении с прошлым годом</span>
                        </div>
                        <div class="stat-item">
                            <span>Государственные: </span>
                            <span>145</span>
                        </div>
                        <div class="stat-item">
                            <span>Частные: </span>
                            <span>213</span>
                        </div>

                    </div>
                </div>
                <div class="col-my-3 col-md-6">
                    <div class="stat">
                        <div class="stat-icon">
                            <img src="{% static 'front/img/ser2.png' %}">
                        </div>
                        <div class="stat-title">
                            <span>Общее количество мест</span>
                        </div>
                        <div class="stat-number">
                            <span class="counter" data-TargetNum="5987"></span>
                        </div>
                        <div class="stat-grow">
                            <span>+1589</span>
                        </div>
                        <div class="stat-description">
                            <span>в сравнении с прошлым годом</span>
                        </div>
                        <div class="stat-item">
                            <span>Государственные: </span>
                            <span>1798</span>
                        </div>
                        <div class="stat-item">
                            <span>Частные: </span>
                            <span>4189</span>
                        </div>
                    </div>
                </div>
                <div class="col-my-3 col-md-6">
                    <div class="stat">
                        <div class="stat-icon">
                            <img src="{% static 'front/img/ser3.png' %}">
                        </div>
                        <div class="stat-title">
                            <span>Общее количество отдыхающих детей в данное время</span>
                        </div>
                        <div class="stat-number">
                            <span class="counter" data-TargetNum="3156"></span>
                        </div>
                        <div class="stat-grow">
                            <span>-2875</span>
                        </div>
                        <div class="stat-description">
                            <span>в сравнении с прошлым годом</span>
                        </div>
                        <div class="stat-item">
                            <span>Мальчики: </span>
                            <span>68%</span>
                        </div>
                        <div class="stat-item">
                            <span>Девочки: </span>
                            <span>32%</span>
                        </div>
                    </div>
                </div>
                <div class="col-my-3 col-md-6">
                    <div class="stat">
                        <div class="stat-icon">
                            <img src="{% static 'front/img/ser4.png' %}">
                        </div>
                        <div class="stat-title">
                            <span>Общее количество отдыхающих детей в данное время</span>
                        </div>
                        <div class="stat-number">
                            <span class="counter" data-TargetNum="2831"></span>
                        </div>
                        <div class="stat-grow">
                            <span>-1695</span>
                        </div>
                        <div class="stat-description">
                            <span>в сравнении с прошлым годом</span>
                        </div>
                        <div class="stat-item">
                            <span>Государственные: </span>
                            <span>1798</span>
                        </div>
                        <div class="stat-item">
                            <span>Частные: </span>
                            <span>4189</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="partner-section">
        <div class="container my-container">
            <div class="heading">
                <span>Наши спонсоры и партнёры</span><br>
                <span>Нас поддерживают</span>
            </div>
        </div>
        <div class="container">
            <div class="owl-partner">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="part-out">
                            <a href="#">
                                <div class="part">
                                    <div class="part-logo">
                                        <img src="{% static 'front/img/part1.png' %}">
                                    </div>
                                    <div class="part-flag">
                                        <img src="{% static 'front/img/flag.png' %}">
                                    </div>
                                    <div class="part-title">
                                        <span>Министерство по развитию информационных технологий и коммуникаций РУз</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="part-out">
                            <a href="#">
                                <div class="part">
                                    <div class="part-logo">
                                        <img src="{% static 'front/img/part2.png' %}">
                                    </div>
                                    <div class="part-flag">
                                        <img src="{% static 'front/img/flag.png' %}">
                                    </div>
                                    <div class="part-title">
                                        <span>МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ РУз</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="part-out">
                            <a href="#">
                                <div class="part">
                                    <div class="part-logo">
                                        <img src="{% static 'front/img/part3.png' %}">
                                    </div>
                                    <div class="part-flag">
                                        <img src="{% static 'front/img/flag.png' %}">
                                    </div>
                                    <div class="part-title">
                                        <span>Министерство по чрезвычайным ситуациям РУз</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="part-out">
                            <a href="#">
                                <div class="part">
                                    <div class="part-logo">
                                        <img src="{% static 'front/img/part4.png' %}">
                                    </div>
                                    <div class="part-flag">
                                        <img src="{% static 'front/img/flag.png' %}">
                                    </div>
                                    <div class="part-title">
                                        <span>МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ РУз</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="part-out">
                            <a href="#">
                                <div class="part">
                                    <div class="part-logo">
                                        <img src="{% static 'front/img/part4.png' %}">
                                    </div>
                                    <div class="part-flag">
                                        <img src="{% static 'front/img/flag.png' %}">
                                    </div>
                                    <div class="part-title">
                                        <span>МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ РУз</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="part-out">
                            <a href="#">
                                <div class="part">
                                    <div class="part-logo">
                                        <img src="{% static 'front/img/part4.png' %}">
                                    </div>
                                    <div class="part-flag">
                                        <img src="{% static 'front/img/flag.png' %}">
                                    </div>
                                    <div class="part-title">
                                        <span>МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ РУз</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
