{% extends 'other/base.html' %}
{% load static %}

{% block content %}
    <section class="banner-login">
        <div class="banner-img">
            <img src="{% static 'front/img/banner.jpg' %}">
        </div>
        {% include 'other/components/navbar.html' %}
        <div class="one-id">
            <div class="one-id-in">
                <a href="{% url 'one_id_auth:eauth' %}">
                    <img src="{% static 'front/img/avatar.png' %}">
                </a>
            </div>
            <div class="one-id-text text-center mt-3">
                <a href="{% url 'one_id_auth:eauth' %}"
                   style="color: aliceblue; text-decoration: none; font-weight: 600;">
                    <span>Пройдите авторизацию через OneID</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}