{% extends 'other/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="row form-row spacer">
                <div class="col-2">
                    <label>Bola</label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        {{ form.name }}
                        {{ form.gender }}
                        {{ form.age }}
                        <select class="form-select" aria-label="Default select example" name="shift">
                            {% for shift in shifts %}
                                <option value="{{ shift.id }}">{{ shift }}</option>
                            {% endfor %}
                        </select>

                        <div class="input-group-append">
                            <button class="btn btn-success add-form-row">+</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row spacer">
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-block btn-primary">Create</button>
            </div>
        </div>
    </form>
{% endblock %}