{% load static %}
<section class="telegram-section">
    <div class="container">
        <div class="telegram">
            <div class="row align-items-center">
                <div class="col-my-9 col-xl-12">
                    <div class="telegram-semi">
                        <span>Получайте актуальную информацию через наш Телеграм-бот</span>
                        <img src="{% static 'front/img/tel-white' %}.png">
                    </div>
                    <div class="telegram-thin">
                        <span>Там, мы делимся новыми условиями, акциями и новостями</span>
                    </div>
                </div>
                <div class="col-my-3 col-xl-12">
                    <div class="tel-read">
                        <a href="#">
                            <span>Перейти в бот</span>
                            <img src="{% static 'front/img/tel.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="f-menu">
            <nav class="navbar navbar-expand-xl navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">О сервисе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Родителям</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Безопастность детей
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Способы оплаты
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="f-title">
                    <span>Коротко о нас:</span>
                </div>
                <div class="f-description">
                    <span><ins>OROMGOHLAR.UZ </ins> это- удобный фильтр каталога для выбора, отзывы, рейтинги и бронирования путёвок. Отзывы, рейтинги и бронирования путёвок.</span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="f-title">
                    <span>Мы в соц. сетях:</span>
                </div>
                <div class="f-social">
                    <a href="#">
                        <img src="{% static 'front/img/sface.png' %}">
                    </a>
                    <a href="#">
                        <img src="{% static 'front/img/stel.png' %}">
                    </a>
                    <a href="#">
                        <img src="{% static 'front/img/stwi.png' %}">
                    </a>
                    <a href="#">
                        <img src="{% static 'front/img/syou.png' %}">
                    </a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="f-title">
                    <span>Свяжитесь с нами:</span>
                </div>
                <div class="f-address">
                    <img src="{% static 'front/img/f-address.png' %}">
                    <span>Узбекистан, 100070, г. Ташкент, Яккасарайский р-н, ул. Ивлева 2</span>
                </div>
                <div class="f-address">
                    <img src="{% static 'front/img/f-call.png' %}">
                    <a href="#">+998 71 205 08 08</a>
                </div>
                <div class="f-address">
                    <img src="{% static 'front/img/f-address.png' %}">
                    <a href="#">info@oromgohlar.uz</a>
                </div>
            </div>
        </div>
        <div class="f-online">
            <a href="#">
                <img src="{% static 'front/img/f-payme.png' %}">
            </a>
            <a href="#">
                <img src="{% static 'front/img/f-click.png' %}">
            </a>
            <a href="#">
                <img src="{% static 'front/img/f-apelsin.png' %}">
            </a>

        </div>
        <div class="copy">
            <span>Copyright © 2021 OROMGOHLAR.UZ. Все права защищены.</span>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="ctrl-enter">
                    <span>Внимание! Если Вы нашли ошибку в тексте, выделите её и нажмите Ctrl+Enter для уведомления администрации</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="uz">
                    <a href="#">
                        <img src="{% static 'front/img/uzinfocom.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="f-line"></div>
    </div>
</footer>


<script type="text/javascript" src="{% static 'front/js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/jquery.fancybox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/scrollCue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/main.js' %}"></script>
<script>
    $('.owl-camps .owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        dots: true,
        center: true,
        navText: ['<img src="{% static 'front/img/camp-left.png' %}">', '<img src="{% static 'front/img/camp-right.png' %}">'],
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 1,
            },
            992: {
                items: 2,
                autoWidth: true
            },
            1200: {
                items: 2,
                autoWidth: true
            }
        }

    })

    $('.owl-detail .owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        autoHeight: true,
        navText: ['<img src="{% static 'front/img/detail-left.png' %}">', '<img src="{% static 'front/img/detail-right.png' %}">'],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    })
</script>
{#<script type="text/javascript">#}
{#		$(document).ready(function(){#}
{#		   	var id = 2;#}
{#		   	$("#add-child").click(function (argument) {#}
{#		   		var childcontent = $("#child-content");#}
{#		   		var child = `<div class="children-data personal-details card bg-light p-3 mt-3">#}
{#				      			<div class="row">#}
{#				      				<div class="col-md-6">#}
{#				      					<div class="form-group mt-2">#}
{#										    <label for="id9">Jinsi:</label>#}
{#										    <div class="d-flex">#}
{#										    	<div class="form-check">#}
{#												  	<input class="form-check-input" type="radio" name="child` + id + `" id="child` + id + `b" value="option1" checked>#}
{#												  	<label class="form-check-label" for="child` + id + `b">#}
{#												    	O'g'il bola#}
{#												  	</label>#}
{#												</div>#}
{#												<div class="form-check ml-3">#}
{#												  	<input class="form-check-input" type="radio" name="child` + id + `" id="child` + id + `g" value="option2">#}
{#												  	<label class="form-check-label" for="child` + id + `g">#}
{#												    	Qiz bola#}
{#												  	</label>#}
{#												</div>#}
{#										    </div>#}
{#										</div>#}
{#				      				</div>#}
{#				      				<div class="col-md-6">#}
{#										<div class="form-group mt-2">#}
{#										    <label for="sel1">Smenani tanlang:</label>#}
{#										    <select class="form-control" id="sel1">#}
{#										      	<option>1 смена: 10 июня - 24 июня 2021 г.</option>#}
{#										      	<option>2 смена: 25 июня - 8 июля 2021 г.</option>#}
{#										      	<option>3 смена: 10 июня - 24 июня 2021 г.</option>#}
{#										      	<option>4 смена: 10 июня - 24 июня 2021 г.</option>#}
{#										      	<option>5 смена: 10 июня - 24 июня 2021 г.</option>#}
{#										    </select>#}
{#										</div>#}
{#				      				</div>#}
{#				      				<div class="col-md-6">#}
{#				      					<div class="form-group mt-2">#}
{#										    <label for="id7">FISH:</label>#}
{#										    <input type="text" class="form-control" id="id7" aria-describedby="Name">#}
{#										</div>#}
{#				      				</div>#}
{#				      				<div class="col-md-6">#}
{#				      					<div class="form-group mt-2">#}
{#										    <label for="id8">Yoshi:</label>#}
{#										    <input type="text" class="form-control" id="id8" aria-describedby="Name">#}
{#										</div>#}
{#				      				</div>#}
{#				      			</div>#}
{#				      			<button type='button' class='remove-row btn mt-2 btn-x'> x </button>#}
{#			      			</div>`#}
{#			    childcontent.append(child);#}
{#			    id = id + 1;#}
{#		   	})#}
{#		  #}
{#		   	$( "#camps-form" ).on("click", ".remove-row", function(){#}
{#		      	$(this).parent().remove();#}
{#		   	});#}
{#		});#}
{#	</script>#}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#        crossorigin="anonymous"></script>#}
<script type="text/javascript">
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
            var name = $(this).attr('name')
            if (name) {
                name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function () {
            var forValue = $(this).attr('for');
            if (forValue) {
                forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
            .removeClass('btn-success').addClass('btn-danger')
            .removeClass('add-form-row').addClass('remove-form-row')
            .html('O\'chirish');
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1) {
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.add-form-row', function (e) {
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        return false;
    });
    $(document).on('click', '.remove-form-row', function (e) {
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
</script>