{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Oromgohlar</title>
    <link rel="icon" href="{% static 'front/img/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/scrollCue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/custom.css' %}">
</head>