{% load static %}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'front/img/logo.png' %}">
                    </a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="menu-cab-lang">
                    <div class="menu">
                        <nav class="navbar navbar-expand-xl navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Главная</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">О сервисе</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Родителям</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Способы оплаты
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="cab-lang">
                        {% if request.user.is_authenticated %}
                            <div class="cabinet">
                                <div class="dropdown">
                                    <button class="cabinet-in" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>{{ request.user.username }}</span>
                                        <img src="{% static 'front/img/account.png' %}">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'camps:cabinet' %}">
                                            <img src="{% static 'front/img/cab1.png' %}">
                                            <span>Личный кабинет</span>
                                        </a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            <img src="{% static 'front/img/cab5.png' %}">
                                            <span>Выйти</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="cabinet">
                                <a href="/login" class="cabinet-in d-inline-block">
                                    <span>Вход в кабинет</span>
                                    <img src="{% static 'front/img/account.png' %}">
                                </a>
                            </div>
                        {% endif %}
                        <div class="lang">
                            <div class="lang-in">
                                <button>
                                    <span>Ру</span>
                                </button>
                                <ul>
                                    <li>
                                        <a href="/">Ру</a>
                                    </li>
                                    <li>
                                        <a href="/uz">Ўз</a>
                                    </li>
                                    <li>
                                        <a href="/oz">O'z</a>
                                    </li>
                                    <li>
                                        <a href="/en">En</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
