{% extends 'admin_interface/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include "admin_interface/components/navbar.html" %}
        <div class="container-fluid mt--6">
            <div class="row" style="margin-top: 102px;">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <div style="float: left">
                                <h3 class="mb-0">Foydalanuvchi #{{ user.id }}</h3>
                            </div>
                        </div>

                        <div class="card-header border-0">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {% render_field field class="form-control" %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}