{% extends 'admin_interface/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include "admin_interface/components/navbar.html" %}
        <div class="container-fluid mt--6">
            <div class="row" style="margin-top: 102px;">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <div style="float: left">
                                <h3 class="mb-0">Foydalanuvchilar</h3>
                            </div>
                            <div style="float: right">
                                <a href="/users/create/" class="btn btn-sm btn-neutral btn-add-user">
                                    <i style="float: left;font-size: 19px;" class="ni ni-fat-add"></i>
                                    <b>Foyadalnuvchi qo'shish</b>
                                </a>
                            </div>
                        </div>

                        <!-- Light table -->
                        <div class="table-responsive">
{#                            <table style="color: #929395; font-weight: bold;" class="users-table-bg table align-items-center table-dark table-flush">#}
{#                                <thead class="thead-light">#}
{#                                <tr>#}
{#                                    <th scope="col" class="sort" data-sort="name">ID</th>#}
{#                                    <th scope="col" class="sort" data-sort="name">Username</th>#}
{#                                    <th scope="col" class="sort" data-sort="budget">Tegishli Viloyat</th>#}
{#                                    <th scope="col" class="sort" data-sort="completion">Oxirigi kirgan sanasi</th>#}
{#                                    <th scope="col">Boshqaruv</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody class="list">#}
{#                                {% for user_item in user_list %}#}
{#                                    <tr>#}
{#                                        <td class="mb-0 text-sm">{{ user_item.id }}</td>#}
{#                                        <td class="mb-0 text-sm">#}
{#                                            <i style="float: left;margin-top: 5px;margin-right: 10px;"#}
{#                                               class="ni ni-single-02"></i>#}
{#                                            {{ user_item.username }}#}
{#                                        </td>#}
{#                                        <td class="mb-0 text-sm">{{ user_item.city }}</td>#}
{#                                        <td class="mb-0 text-sm">{{ user_item.last_login }}</td>#}
{#                                        <td class="mb-0 text-sm">#}
{##}
{##}
{##}
{##}
{#                                            <a href="{% url 'detail' user_item.pk %}"#}
{#                                               class="btn btn-success btn-sm">#}
{#                                                <i class="fas fa-eye"></i>#}
{#                                            </a>#}
{#                                            <a href="{% url 'edit' user_item.pk %}"#}
{#                                               class="btn btn-info btn-sm">#}
{#                                                <i class="fas fa-edit"></i>#}
{#                                            </a>#}
{##}
{#                                            <button type="submit" title="Delete" class="btn btn-danger btn-sm"#}
{#                                                    data-toggle="modal"#}
{#                                                    data-target="#delete_{{ user_item.id }}">#}
{#                                                <i class="fas fa-trash"></i>#}
{#                                            </button>#}
{#                                            <div class="modal fade" id="delete_{{ user_item.id }}" tabindex="-1"#}
{#                                                 role="dialog"#}
{#                                                 aria-hidden="true">#}
{#                                                <div class="modal-dialog modal-dialog-centered" role="document">#}
{#                                                    <div class="modal-content">#}
{#                                                        <div class="modal-header">#}
{#                                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you#}
{#                                                                sure you want to delete <i>{{ user_item.username }}</i>#}
{#                                                                ?</h5>#}
{#                                                            <button type="button" class="close" data-dismiss="modal"#}
{#                                                                    aria-label="Close">#}
{#                                                                <span aria-hidden="true">&times;</span>#}
{#                                                            </button>#}
{#                                                        </div>#}
{#                                                        <form action="{% url 'delete' user_item.pk %}" method="post">#}
{#                                                            {% csrf_token %}#}
{#                                                            <div class="modal-footer">#}
{#                                                                <button type="submit" class="btn btn-danger">#}
{#                                                                    <i class="fas fa-trash"></i>#}
{#                                                                </button>#}
{#                                                            </div>#}
{#                                                        </form>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                                </tbody>#}
{#                            </table>#}
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th style="font-size: 15px; font-weight: bold" scope="col"
                                        class="table-header-custom">
                                        Login
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col"
                                        class="table-header-custom">
                                        Turi
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Tegishli viloyat
                                    </th>

                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Oxirgi kirgan vaqt
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Boshqaruv
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                {% for user_item in user_list %}
                                    <tr>
                                        <td class="mb-0 text-sm">
                                            <i style="float: left;margin-top: 5px;margin-right: 10px;"
                                               class="ni ni-single-02"></i>
                                            {{ user_item.username }}
                                        </td>
                                        <td class="mb-0 text-sm">
                                            {{ user_item.groups.all.0 }}
                                        </td>

                                        <td class="mb-0 text-sm">{{ user_item.city }}</td>
                                        <td class="mb-0 text-sm">{{ user_item.last_login }}</td>
                                        <td class="mb-0 text-sm">
                                            <button type="submit" title="grant_access" class="btn btn-primary btn-sm"
                                                    data-toggle="modal"
                                                    data-target="#grant{{ user_item.id }}">
                                                <i class="fas fa-key"></i>

                                            </button>

{#                                            <a href="{% url 'detail' user_item.pk %}" class="btn btn-primary btn-sm">#}
{#                                                <i class="fas fa-key"></i>#}
{#                                            </a>#}


                                            <button type="submit" title="Delete" class="btn btn-danger btn-sm"
                                                    data-toggle="modal"
                                                    data-target="#delete_{{ user_item.id }}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <div class="modal fade" id="delete_{{ user_item.id }}" tabindex="-1"
                                                 role="dialog"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you
                                                                sure you want to delete <i>{{ user_item.username }}</i>
                                                                ?</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form action="{% url 'delete' user_item.pk %}" method="post">
                                                            {% csrf_token %}
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-danger">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="grant{{ user_item.id }}" tabindex="-1"
                                                 role="dialog"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">

                                                                 <i>{{ user_item.username }} Foydalanuvchiga rol berish</i></h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form action="/add_user_to_group/" method="post">
                                                            {% csrf_token %}
                                                        <input type="hidden" name="user_id" readonly value="{{ user_item.id }}">
                                                            <label style="margin: 14px;" for="user_group_type">Foydalanuvchi turi</label>
                                                            <select id="role_type" name="role_type" class="form-control">
                                                                <option value="republican">Republican</option>
                                                                <option value="regional">Regional</option>
                                                            </select>

                                                            <label style="margin: 14px;" for="city">Shahar/Viloyat</label>
                                                            <select name="city" id="city" class="form-control">
                                                                {% for city in cities %}
                                                                    <option value="{{ city.id }}">{{ city }}</option>
                                                                    {% endfor %}
                                                            </select>

                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i class="fas fa-key"></i>
                                                                    Rol berish

                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}