.upload-image-block {
    border-radius: 4px;
    background: rgb(242, 244, 245);
    width: 159px;
    height: 120px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.file-upload-input {
    position: absolute;
    opacity: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    cursor: pointer;
}

.nav-left-menu {
    font-weight: bold;
    font-size: 17px;
}


.btn-add-user {
    color: white;
    background: #5e72e4;
    border-color: #5e72e4;
    padding: 8px 17px 8px 17px;

}

.btn-add-user:hover {
    background: #5e72e4;
    border-color: #5e72e4;
    color: white;
    padding: 8px 17px 8px 17px;
}

.upload-image-block {
    border-radius: 4px;
    background: rgb(242, 244, 245);
    width: 159px;
    height: 120px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.file-upload-input {
    position: absolute;
    opacity: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    cursor: pointer;
}

.nav-left-menu {
    font-weight: bold;
    font-size: 17px;
}

.table-content td {
    font-size: 16px;
}

.table-content th {
    font-size: 16px;
}

.table-header-custom {
    font-size: 17px;
}

.camp-data-select-year {
    width: auto;
    float: left;
    margin-left: 54%;
    height: 36px;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
}

.thumbnail {
    height: 100px;
    margin: 10px;
    width: 200px;
}



.multiple-image-upload-input {
    margin-left: 20px;
    display: inline-block;
    width: 100%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png) center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
    background-color: white;

}
