{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}

        <div class="card-body">
            <form>
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">Moderator qo'shish</h3>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Login</label>
                                <input name="name" type="text" id="input-username" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Parol</label>
                                <input name="cost" type="email" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Tegishli shahar/viloyat</label>
                                <select class="form-control">
                                    <option value="2">Toshkent shahar</option>
                                    <option value="">Toshkent viloyat</option>
                                    <option value="">Farg'ona</option>
                                    <option value="">Namangan</option>
                                    <option value="">Andijon</option>
                                    <option value="">Jizzax</option>
                                    <option value="">Sirdaryo</option>
                                    <option value="">Qashqadaryo</option>
                                    <option value="">Samarqand</option>
                                    <option value="">Buxoro</option>
                                    <option value="">Surxandaryo</option>
                                    <option value="">Xorazm</option>
                                    <option value="">Navoiy</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                </div>
                <hr class="my-4"/>
            </form>
        </div>
    </div>
{% endblock %}