{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}

        <div class="card-body">
            <form method="post">

                {% csrf_token %}
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">Otrayd qo'shish</h3>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Otrayd Raqami</label>
                                <input name="number" type="number" id="input-username" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Sig'imi</label>
                                <input name="capacity" type="number" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Yosh (dan)</label>
                                <select name="from_age" class="form-control">
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Yosh (gacha)</label>
                                <select name="until_age" class="form-control">
                                    <option>-</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Jins</label>
                                <select name="gender" class="form-control">
                                    <option value="boys">O'g'il bola</option>
                                    <option value="girls">Qiz bola</option>
                                    <option value="mixed">Aralash</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Otryad Strukturasi</label>
                                <select name="squad_structure_type" class="form-control">
                                    <option value="separated_by_rooms">Xonalar</option>
                                    <option value="multiple_bunks">Koykalar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Oromgoh</label>
                                <select name="camp" class="form-control">
                                   {% for camp in camps_list %}
                                       <option value="{{ camp.id }}">{{ camp }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                </div>
                <hr class="my-4"/>
            </form>
        </div>
    </div>
{% endblock %}