{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}
        <div class="card-body">
            <form name="form-example-1" id="form-example-1" method="post" enctype="multipart/form-data">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">Oromgoh qo'shish</h3>

                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Nomi</label>
                                <input name="name" type="text" id="input-username" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Narxi</label>
                                <input name="cost" type="number" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Manzil</label>
                                <input name="address" type="text" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Tuman</label>
                                <select name="region" class="form-control">
                                    <option disabled selected hidden>Tanlang...</option>
                                    {% for region in regions %}
                                        <option value="{{ region.id }}">{{ region }}</option>

                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Tavsif</label>
                                <textarea name="about_description" rows="4" type="text"
                                          id="input-first-name"
                                          class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Oromgoh Haqida</label>
                                <textarea name="main_description" rows="4" type="text"
                                          id="input-first-name" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Ovqatlanish</label>
                                <textarea name="nutrition_description" rows="4" type="text"
                                          id="input-first-name" class="form-control"></textarea>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Dastur haqida</label>
                                <textarea name="program_description" rows="4" type="text"
                                          id="input-first-name" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <section style="padding: 0;margin-top: 30px;margin-bottom: 45px;" class="ftco-section">
                                <p style="font-size: .875rem;font-weight: 600;color: #525f7f;">Xususiyatlari</p>
                                <select name="advantages" class="js-select2" multiple>
                                    {% for advantage in advantages %}
                                        {{ advantage }}
                                        <option value="{{ advantage.id }}"> {{ advantage }}</option>
                                    {% endfor %}
                                </select>
                            </section>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Telefon 1 </label>
                                        <input name="phone_number" type="number" id="input-username" class="form-control"
                                               placeholder="+998"
                                               value="lucky.jesse">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Telefon 2 </label>
                                        <input name="phone_number" type="number" id="input-username" class="form-control"
                                               placeholder="+998"
                                               value="lucky.jesse">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Telefon 3 </label>
                                        <input name="phone_number" type="number" id="input-username" class="form-control"
                                               placeholder="+998"
                                               value="lucky.jesse">
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Telefon 4 </label>
                                        <input name="phone_number" type="number" id="input-username" class="form-control"
                                               placeholder="+998"
                                               value="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">

                                <div class="input-field">
                                    <label class="active">Photos</label>
                                    <div class="input-images-1" style="padding-top: .5rem;"></div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <button type="submit" class="btn btn-primary">Qo'shish</button>

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/custom/image-uploader.js' %}"></script>
    <script>

        $('.input-images').imageUploader();
        $('.input-images-1').imageUploader({
            imagesInputName: 'images',
        });








    </script>

    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>

    <!-- Optional JS -->
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'assets/js/argon.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'multiselect/js/main.js' %}"></script>
    <script src="{% static 'multiselect/js/popper.js' %}"></script>
    <script src="{% static 'multiselect/js/bootstrap.min.js' %}"></script>
{% endblock %}