{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}
        <div class="card-body">
            <form>
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">Oromgoh qo'shish</h3>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Nomi</label>
                                <input name="name" type="text" id="input-username" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Narxi</label>
                                <input name="cost" type="email" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Adress</label>
                                <input name="address" type="email" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Tuman</label>
                                <select class="form-control">
                                    {% for r in regions %}
                                        <option>{{ r }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Tavsif</label>
                                <textarea style="width: 207%;height: 8em;" type="text" id="input-first-name"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Oromgoh Haqida</label>
                                <textarea name="main_description" style="width: 207%;height: 8em;" type="text"
                                          id="input-first-name" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Ovqatlanish</label>
                                <textarea name="nutrition_description" style="width: 207%;height: 8em;" type="text"
                                          id="input-first-name" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Dastur haqida</label>
                                <textarea name="program_description" style="width: 207%;height: 8em;" type="text"
                                          id="input-first-name" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <section style="margin-left: 25px;" class="ftco-section">
                                <div class="container">
                                    <h6 style="margin-left: -31px;">Xususiyatlari</h6>
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 d-flex justify-content-center align-items-center">
                                            <select name="advantages" class="js-select2" multiple="multiple">
                                                <option value="O1" data-badge="">Горы</option>
                                                <option value="O2" data-badge="">Бассейн</option>
                                                <option value="O3" data-badge="">Спорт</option>
                                                <option value="O4" data-badge="">Научно-познавательный</option>
                                                <option value="O5" data-badge="">5-ти разовое питание</option>
                                                <option value="O6" data-badge="">ИТ</option>
                                                <option value="O7" data-badge="">Футбол</option>
                                                <option value="O8" data-badge="">Option8</option>
                                                <option value="O9" data-badge="">Option9</option>
                                                <option value="O10" data-badge="">Option10</option>
                                                <option value="O11" data-badge="">Option11</option>
                                                <option value="O12" data-badge="">Option12</option>
                                                <option value="O13" data-badge="">Option13</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <h6>Rasm</h6>
                    <div class="row">
                        <div class="col-lg-2">
                            <div style="background: rgb(200, 248, 246);" class="upload-image-block">
                                <span style="font-weight: bold;">Добавить фото</span>
                                <input name="image" id="photo-attachment-files" type="file"
                                       accept="image/heic, image/png, image/jpeg, image/webp" multiple=""
                                       data-testid="attach-photos-input" data-cy="attach-photos-input" title=""
                                       class="file-upload-input">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="upload-image-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32"
                                     data-testid="add-icon">
                                    <path fill="#7F9799" fill-rule="evenodd"
                                          d="M21.43 4l1.325 4h5.67l1.325 1.333v17.334L28.425 28H4.575L3.25 26.667V9.333L4.575 8h5.67l1.325-4h9.86zm-1.91 2.667h-6.04l-1.325 4H5.9v14.666h21.2V10.667h-6.255l-1.325-4zm-3.02 4c3.653 0 6.625 2.99 6.625 6.666S20.153 24 16.5 24s-6.625-2.99-6.625-6.667c0-3.676 2.972-6.666 6.625-6.666zm0 2.666c-2.192 0-3.975 1.794-3.975 4s1.783 4 3.975 4 3.975-1.794 3.975-4-1.783-4-3.975-4z"></path>
                                </svg>
                                <input id="photo-attachment-files" type="file"
                                       accept="image/heic, image/png, image/jpeg, image/webp" multiple=""
                                       data-testid="attach-photos-input" data-cy="attach-photos-input" title=""
                                       class="file-upload-input">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="upload-image-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32"
                                     data-testid="add-icon">
                                    <path fill="#7F9799" fill-rule="evenodd"
                                          d="M21.43 4l1.325 4h5.67l1.325 1.333v17.334L28.425 28H4.575L3.25 26.667V9.333L4.575 8h5.67l1.325-4h9.86zm-1.91 2.667h-6.04l-1.325 4H5.9v14.666h21.2V10.667h-6.255l-1.325-4zm-3.02 4c3.653 0 6.625 2.99 6.625 6.666S20.153 24 16.5 24s-6.625-2.99-6.625-6.667c0-3.676 2.972-6.666 6.625-6.666zm0 2.666c-2.192 0-3.975 1.794-3.975 4s1.783 4 3.975 4 3.975-1.794 3.975-4-1.783-4-3.975-4z"></path>
                                </svg>
                                <input id="photo-attachment-files" type="file"
                                       accept="image/heic, image/png, image/jpeg, image/webp" multiple=""
                                       data-testid="attach-photos-input" data-cy="attach-photos-input" title=""
                                       class="file-upload-input">
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="upload-image-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32"
                                     data-testid="add-icon">
                                    <path fill="#7F9799" fill-rule="evenodd"
                                          d="M21.43 4l1.325 4h5.67l1.325 1.333v17.334L28.425 28H4.575L3.25 26.667V9.333L4.575 8h5.67l1.325-4h9.86zm-1.91 2.667h-6.04l-1.325 4H5.9v14.666h21.2V10.667h-6.255l-1.325-4zm-3.02 4c3.653 0 6.625 2.99 6.625 6.666S20.153 24 16.5 24s-6.625-2.99-6.625-6.667c0-3.676 2.972-6.666 6.625-6.666zm0 2.666c-2.192 0-3.975 1.794-3.975 4s1.783 4 3.975 4 3.975-1.794 3.975-4-1.783-4-3.975-4z"></path>
                                </svg>
                                <input id="photo-attachment-files" type="file"
                                       accept="image/heic, image/png, image/jpeg, image/webp" multiple=""
                                       data-testid="attach-photos-input" data-cy="attach-photos-input" title=""
                                       class="file-upload-input">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="upload-image-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32"
                                     data-testid="add-icon">
                                    <path fill="#7F9799" fill-rule="evenodd"
                                          d="M21.43 4l1.325 4h5.67l1.325 1.333v17.334L28.425 28H4.575L3.25 26.667V9.333L4.575 8h5.67l1.325-4h9.86zm-1.91 2.667h-6.04l-1.325 4H5.9v14.666h21.2V10.667h-6.255l-1.325-4zm-3.02 4c3.653 0 6.625 2.99 6.625 6.666S20.153 24 16.5 24s-6.625-2.99-6.625-6.667c0-3.676 2.972-6.666 6.625-6.666zm0 2.666c-2.192 0-3.975 1.794-3.975 4s1.783 4 3.975 4 3.975-1.794 3.975-4-1.783-4-3.975-4z"></path>
                                </svg>
                                <input id="photo-attachment-files" type="file"
                                       accept="image/heic, image/png, image/jpeg, image/webp" multiple=""
                                       data-testid="attach-photos-input" data-cy="attach-photos-input" title=""
                                       class="file-upload-input">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="upload-image-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32"
                                     data-testid="add-icon">
                                    <path fill="#7F9799" fill-rule="evenodd"
                                          d="M21.43 4l1.325 4h5.67l1.325 1.333v17.334L28.425 28H4.575L3.25 26.667V9.333L4.575 8h5.67l1.325-4h9.86zm-1.91 2.667h-6.04l-1.325 4H5.9v14.666h21.2V10.667h-6.255l-1.325-4zm-3.02 4c3.653 0 6.625 2.99 6.625 6.666S20.153 24 16.5 24s-6.625-2.99-6.625-6.667c0-3.676 2.972-6.666 6.625-6.666zm0 2.666c-2.192 0-3.975 1.794-3.975 4s1.783 4 3.975 4 3.975-1.794 3.975-4-1.783-4-3.975-4z"></path>
                                </svg>
                                <input id="photo-attachment-files" type="file"
                                       accept="image/heic, image/png, image/jpeg, image/webp" multiple=""
                                       data-testid="attach-photos-input" data-cy="attach-photos-input" title=""
                                       class="file-upload-input">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div style="    margin-top: 20px;" class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Telefon </label>
                                <input type="number" id="input-username" class="form-control" placeholder="+998"
                                       value="lucky.jesse">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                </div>
                <hr class="my-4"/>
            </form>
        </div>
    </div>
{% endblock %}