{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}

        <div class="card-body">
            <form method="post">

                {% csrf_token %}
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">Joylashuv qo'shish</h3>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Bola Ismi</label>
                                <input name="child_first_name" type="text" id="input-username" class="form-control" value="">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Familyasi</label>
                                <input name="child_last_name" type="text" id="input-email" class="form-control">
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Jins</label>
                                <select name="gender" class="form-control">
                                    <option value="boy">O'g'il bola</option>
                                    <option value="girl">Qiz bola</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Tug'ilgan yili</label>
                                <input name="birth_year" type="date" id="input-email" class="form-control">
                            </div>
                        </div>

                    </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="input-email">Metirka raqami</label>
                            <input name="certificate_of_birth" type="number" id="input-email" class="form-control">
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="input-email">Otryad</label>
                            <select name="squad" class="form-control">
                                <option>-</option>
                                {% for own_squad in own_camp_squads_list %}
                                    <option value="{{ own_squad.id }}">{{ own_squad }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="input-email">Smena</label>
                            <select name="shift" class="form-control">
                                <option>-</option>
                                {% for own_shift in own_camp_shift_list %}
                                    <option value="{{ own_shift.id }}">{{ own_shift }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Koyka raqami</label>
                            <input name="bunk" type="number" id="input-email" class="form-control">

                        </div>
                    </div>

                </div>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                </div>
                <hr class="my-4"/>
            </form>
        </div>
    </div>
{% endblock %}