<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include "admin_interface/components/head.html" %}
<body>
{% include "admin_interface/components/sidebar.html" %}

<!-- Main content -->
{% block content %}{% endblock %}

{% block footer %}
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        {#$('.delete-image-icon').click(function () {#}
        {#    let img_attr = $(this).parent().prev().children()#}
        {#    let src = img_attr.attr('src');#}
        {##}
        {#    img_attr.attr('src').replace(src, 'deleted_image')#}
        {#    console.log('========ATTR==========')#}
        {#    console.log(img_attr.attr('src'))#}
        {#    $(this).parent().prev().remove();#}
        {#    $(this).remove();#}
        // });

        {#$(this).parent().prev().prev().attr('src').replace('default.jpg');#}


    </script>

    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>

    <!-- Optional JS -->
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'assets/js/argon.js' %}"></script>
    <script src="{% static 'assets/js/custom/update_camp_show_images.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'multiselect/js/main.js' %}"></script>
    <script src="{% static 'multiselect/js/popper.js' %}"></script>
    <script src="{% static 'multiselect/js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>