{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include "admin_interface/components/navbar.html" %}
        <div class="container-fluid mt--6">
            <div class="row" style="margin-top: 102px;">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 style="text-transform: uppercase" class="mb-0">{{ request.user.city.name }}dagi
                                        OROMGOHLAR</h2>
                                </div>
                                <div class="col text-right">

                                    <a style="font-size: 15px;" href="/add_camp/" class="btn btn-sm btn-primary">
                                        <i style="font-size: 13px;" class="fa fa-plus"></i>
                                        Oromgoh qo'shish
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th style="font-size: 15px; font-weight: bold" scope="col"
                                        class="table-header-custom">Oromgoh nomi
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Tuman
                                    </th>

                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        smenalar soni
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        otryadlar soni
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Narxi
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Sig'imi
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Boshqaruv
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for camp in all_camps %}
                                <tr class="table-content">

                                    <th scope="row">
                                        {{ camp.name }}
                                    </th>
                                    <td>
                                        {{ camp.region }}
                                    </td>

                                    <td align="center">
                                        <a href="/shifts/list?camp={{ camp.id }}">{{ camp.total_shifts }}</a>

                                    </td>
                                    <td align="center">
                                        <a href="/squads/list?camp={{ camp.id }}">{{ camp.total_squads }}</a>
                                    </td>
                                    <td>
                                        {{ camp.cost }}
                                    </td>
                                    <td>
                                        {% if camp.total_camp_capacity %}
                                        {{ camp.total_camp_capacity }}
                                        {% else %}
                                        0
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a style="font-size: 15px;" href="/camps/detail/" class="btn btn-sm btn-primary">
                                            <i style="font-size: 13px;" class="fa fa-info-circle"></i>
                                           Batafsil
                                        </a>
                                        <a href="/update_camp/{{ camp.id }}/"  data-toggle="tooltip" data-placement="top" title="Tahrirlash" style="font-size: 15px;" class="btn btn-sm btn-dribbble">
                                            <i style="font-size: 13px;" class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}