{% extends 'admin_interface/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include "admin_interface/components/navbar.html" %}
        <div class="container-fluid mt--6">
            <div class="row" style="margin-top: 102px;">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <div style="float: left">
                                <h3 class="mb-0">Moderatorlar</h3>
                            </div>
                            <div style="float: right">
                                <a href="/moderator/add/" class="btn btn-sm btn-neutral btn-add-user">
                                    <i style="float: left;font-size: 19px;" class="ni ni-fat-add"></i>
                                    <b>Foyadalnuvchi Qo'shish</b>
                                </a>
                            </div>
                        </div>

                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Login</th>
                                    <th scope="col" class="sort" data-sort="budget">Tegishli Viloyat</th>
                                    <th scope="col" class="sort" data-sort="completion">Oxirigi kirgan sanasi</th>
                                    <th scope="col">Boshqaruv</th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <i style="float: left;margin-top: 5px;margin-right: 10px;"
                                                   class="ni ni-single-02"></i>

                                                <span class="name mb-0 text-sm">toshkent_viloyat_1</span>

                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        Toshkent Viloyati
                                    </td>
                                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status">6-Iyun 19:45</span>
                      </span>
                                    </td>

                                    <td>
                                        <i style="font-size: 17px;margin-left: 19px;"
                                           class="ni ni-settings-gear-65"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <i style="float: left;margin-top: 5px;margin-right: 10px;"
                                                   class="ni ni-single-02"></i>

                                                <span class="name mb-0 text-sm">farg'ona</span>

                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        Fargo'na Shahri
                                    </td>
                                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status">10-Iyun 10:09</span>
                      </span>
                                    </td>

                                    <td>
                                        <i style="font-size: 17px;margin-left: 19px;"
                                           class="ni ni-settings-gear-65"></i>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}