{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include "admin_interface/components/navbar.html" %}
        <div class="container-fluid mt--6">
            <div class="row" style="margin-top: 102px;">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 style="text-transform: uppercase" class="mb-0">I-Smena bo'yicha joylashuv </h2>
                                </div>
                                <div class="col text-right">

                                    <div>
                                        <a style="font-size: 15px;float: right;margin-top: 1px;padding: 9px 7px 10px 8px;" href="/add_placement/" class="btn btn-sm btn-primary">
                                            <i style="font-size: 13px;" class="fa fa-plus"></i>
                                            Joylashuv qo'shish
                                        </a>
                                    </div>
                                    <div style="float: right">
                                        <select style="    margin-right: 56px;margin-left: -35px;" class="form-control" name="shift" id="">
                                            <option value="1">I-Smena</option>
                                            <option value="2">II-Smena</option>
                                            <option value="3">III-Smena</option>
                                            <option value="4">IV-Smena</option>
                                        </select>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">

                                <tr>
                                    <th style="font-size: 15px; font-weight: bold" scope="col"
                                        class="table-header-custom">Bola F.I
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Yosh
                                    </th>

                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Otryad
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                         Koyka
                                    </th>

                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Boshqaruv
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for placement in all_placements %}
                                    <tr class="table-content">

                                        <th scope="row">
                                          {{ placement.child_first_name }} {{ placement.child_last_name }}
                                        </th>
                                        <td>
                                         {{ placement.birth_year }}
                                        </td>

                                        <td>
                                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter5"> {{ placement.squad }}</a>
                                        </td>
                                        <td>
                                            {{ placement.bunk }}
                                        </td>

                                        <td>
                                            <a style="font-size: 15px;" href="/camps/detail/" class="btn btn-sm btn-primary">
                                                <i style="font-size: 13px;" class="fa fa-pencil-square-o"></i>
                                                Tahrirlash
                                            </a>

                                        </td>
                                    </tr>
                                    <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 align="center" class="modal-title" id="exampleModalLongTitle">{{ placement.squad }} Otryad</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                  <p><b style="font-weight: bold">Jins: </b> {{ placement.squad.gender }}</p>
                                                  <p><b style="font-weight: bold">Sig'imi: </b> {{ placement.squad.capacity }}</p>

                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <p> <b style="font-weight: bold">Yetakchi: </b>
                                                                {% for squad_leader in placement.squad.squadleaders_set.all %}
                                                                    {% if squad_leader.leader_type == 'leader' %}
                                                                        {{ squad_leader }} ({{ squad_leader.phone_number }})
                                                                    {% endif %}

                                                            </p>
                                                        </div>
                                                                {% endfor %}

                                                        <p> <b style="font-weight: bold">Tarbiyachi: </b>
                                                            {% for squad_leader in placement.squad.squadleaders_set.all %}
                                                                {% if squad_leader.leader_type == 'educator' %}
                                                                    {{ squad_leader }} <br>
                                                                    ({{ squad_leader.phone_number }})
                                                                {% endif %}
                                                            {% endfor %}
                                                        </p>
                                                    </div>




                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}