{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}
        <!-- Topnav -->
        <!-- Header -->
        <!-- Header -->
        {#        <div class="header bg-primary pb-6">#}
        {#            <div class="container-fluid">#}
        {#                <div class="header-body">#}
        {##}
        {#                    <!-- Card stats -->#}
        {#                    <div class="row">#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">Total traffic</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">350,897</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-active-40"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">2,356</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-chart-pie-35"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">924</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-money-coins"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">49,65%</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-chart-bar-32"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <!-- Page content -->

        <div class="container-fluid mt--6">

            <div class="row" style="margin-top: 102px;">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 style="text-transform: uppercase" class="mb-0">Buyurtmalar</h2>
                                </div>
                                <div class="col text-right">
                                    <select class="form-control camp-data-select-year">
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                    <a style="font-size: 15px;" href="/add_camp/" class="btn btn-sm btn-primary">
                                        <i style="font-size: 13px;" class="fa fa-money-bill-alt"></i>
                                        To'lov qilganlar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th style="font-size: 15px; font-weight: bold" scope="col"
                                        class="table-header-custom">№
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Shaxs
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Farzand
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Oromgoh
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Smena
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Otrayd
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Koyka
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Sana
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Tugashi
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-content">
                                    <th scope="row">
                                        21
                                    </th>
                                    <td>
                                        John Snow
                                    </td>
                                    <td>
                                        Jack Snow
                                    </td>
                                    <td>
                                        <a href="/shift_detail/" style="color: blue; cursor:pointer;">Anor</a>
                                    </td>
                                    <td>
                                        <a href="/squad_detail/" style="color: blue; cursor:pointer;">I</a>
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        34
                                    </td>
                                    <td>
                                        10-Iyun
                                    </td>
                                    <td>
                                        15-Iyun
                                    </td>
                                </tr>
                                <tr class="table-content">
                                    <th scope="row">
                                        21
                                    </th>
                                    <td>
                                        John Snow
                                    </td>
                                    <td>
                                        Jack Snow
                                    </td>
                                    <td>
                                        <a href="/shift_detail/" style="color: blue; cursor:pointer;">Anor</a>
                                    </td>
                                    <td>
                                        <a href="/squad_detail/" style="color: blue; cursor:pointer;">I</a>
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        34
                                    </td>
                                    <td>
                                        10-Iyun
                                    </td>
                                    <td>
                                        15-Iyun
                                    </td>
                                </tr>
                                <tr class="table-content">
                                    <th scope="row">
                                        21
                                    </th>
                                    <td>
                                        John Snow
                                    </td>
                                    <td>
                                        Jack Snow
                                    </td>
                                    <td>
                                        <a href="/shift_detail/" style="color: blue; cursor:pointer;">Anor</a>
                                    </td>
                                    <td>
                                        <a href="/squad_detail/" style="color: blue; cursor:pointer;">I</a>
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        34
                                    </td>
                                    <td>
                                        10-Iyun
                                    </td>
                                    <td>
                                        15-Iyun
                                    </td>
                                </tr>
                                <tr class="table-content">
                                    <th scope="row">
                                        21
                                    </th>
                                    <td>
                                        John Snow
                                    </td>
                                    <td>
                                        Jack Snow
                                    </td>
                                    <td>
                                        <a href="/shift_detail/" style="color: blue; cursor:pointer;">Anor</a>
                                    </td>
                                    <td>
                                        <a href="/squad_detail/" style="color: blue; cursor:pointer;">I</a>
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        34
                                    </td>
                                    <td>
                                        10-Iyun
                                    </td>
                                    <td>
                                        15-Iyun
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}