{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Search form -->
                    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                        <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                        </div>
                        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </form>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                                 data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="ni ni-zoom-split-in"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="ni ni-bell-55"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                                <!-- Dropdown header -->
                                <div class="px-3 py-3">
                                    <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong>
                                        notifications.</h6>
                                </div>
                                <!-- List group -->
                                <div class="list-group list-group-flush">
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder"
                                                     src="{% static 'assets/img/theme/team-1.jpg' %}"
                                                     class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>2 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder"
                                                     src="{% static 'assets/img/theme/team-2.jpg' %}"
                                                     class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>3 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder"
                                                     src="{% static 'assets/img/theme/team-3.jpg' %}"
                                                     class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>5 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">Your posts have been liked a lot.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder"
                                                     src="{% static 'assets/img/theme/team-4.jpg' %}"
                                                     class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>2 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder"
                                                     src="{% static 'assets/img/theme/team-5.jpg' %}"
                                                     class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>3 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- View all -->
                                <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View
                                    all</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="ni ni-ungroup"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">
                                <div class="row shortcuts px-4">
                                    <a href="#!" class="col-4 shortcut-item">
                    <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                      <i class="ni ni-calendar-grid-58"></i>
                    </span>
                                        <small>Calendar</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                    <span class="shortcut-media avatar rounded-circle bg-gradient-orange">
                      <i class="ni ni-email-83"></i>
                    </span>
                                        <small>Email</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                    <span class="shortcut-media avatar rounded-circle bg-gradient-info">
                      <i class="ni ni-credit-card"></i>
                    </span>
                                        <small>Payments</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                    <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                      <i class="ni ni-books"></i>
                    </span>
                                        <small>Reports</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                    <span class="shortcut-media avatar rounded-circle bg-gradient-purple">
                      <i class="ni ni-pin-3"></i>
                    </span>
                                        <small>Maps</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                    <span class="shortcut-media avatar rounded-circle bg-gradient-yellow">
                      <i class="ni ni-basket"></i>
                    </span>
                                        <small>Shop</small>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="{% static 'assets/img/theme/team-4.jpg' %}">
                  </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Settings</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-calendar-grid-58"></i>
                                    <span>Activity</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-support-16"></i>
                                    <span>Support</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <!-- Header -->
        {#        <div class="header bg-primary pb-6">#}
        {#            <div class="container-fluid">#}
        {#                <div class="header-body">#}
        {##}
        {#                    <!-- Card stats -->#}
        {#                    <div class="row">#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">Total traffic</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">350,897</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-active-40"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">2,356</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-chart-pie-35"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">924</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-money-coins"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-xl-3 col-md-6">#}
        {#                            <div class="card card-stats">#}
        {#                                <!-- Card body -->#}
        {#                                <div class="card-body">#}
        {#                                    <div class="row">#}
        {#                                        <div class="col">#}
        {#                                            <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>#}
        {#                                            <span class="h2 font-weight-bold mb-0">49,65%</span>#}
        {#                                        </div>#}
        {#                                        <div class="col-auto">#}
        {#                                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">#}
        {#                                                <i class="ni ni-chart-bar-32"></i>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                    <p class="mt-3 mb-0 text-sm">#}
        {#                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
        {#                                        <span class="text-nowrap">Since last month</span>#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <!-- Page content -->
        <div class="container-fluid mt--6">

            <div class="row" style="margin-top: 102px;">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 style="text-transform: uppercase" class="mb-0">{{ camp_name }} oromgohi otryadlari</h2>
                                </div>
                                <div class="col text-right">
                                    <select style="width: 30%; float:right;" class="form-control" name="shift" id="">
                                        <option value="1">I-Smena</option>
                                        <option value="2">II-Smena</option>
                                        <option value="3">III-Smena</option>
                                        <option value="4">IV-Smena</option>
                                    </select>




                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th style="font-size: 15px; font-weight: bold" scope="col"
                                        class="table-header-custom">Otryad
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Jins
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Yosh
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Sig'imi
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Yetakchi
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Tarbiyachi
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Boshqaruv
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for squad in all_squads %}
                                <tr class="table-content">
                                    <th scope="row">
                                        {{ squad.number }}
                                    </th>
                                    <td>
                                        {% if squad.gender == 'boys' %}
                                        O'g'il bola
                                        {% elif squad.gender == 'girls' %}
                                        Qiz bola
                                        {% elif squad.gender == 'mixed' %}
                                        Aralash
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ squad.from_age }}-{{ squad.until_age }}
                                    </td>
                                    <td>
                                        {{ squad.capacity }}
                                    </td>
                                    <td>
                                        <a href="#">John</a>
                                    </td>
                                    <td>
                                        <a href="#">Azizbek</a>
                                    </td>
                                    <td>
                                        <a style="font-size: 15px;" href="/update_squad/{{ squad.id }}/" class="btn btn-sm btn-primary">
                                            <i style="font-size: 13px;" class="fa fa-pencil-square-o"></i>
                                            Tahrirlash
                                        </a>
                                        <span  data-toggle="tooltip" data-placement="top" title="Yetakchi qo'shish" >
                                            <a data-toggle="modal" data-target="#exampleModalCenter4" style="font-size: 15px;" href="/update_squad/{{ squad.id }}/" class="btn btn-sm btn-dribbble">
                                            <i style="font-size: 13px;" class="fa fa-user-plus"></i>

                                        </a>
                                        </span>

                                        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Yetakchi Qo'shish</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/squads/list">
                                                            <label for="">Smena</label>
                                                            <select name="camp" class="form-control" style="width: 100%">
                                                                <option value="1">I-Smena</option>
                                                                <option value="1">II-Smena</option>
                                                                <option value="1">III-Smena</option>
                                                                <option value="1">IV-Smena</option>
                                                            </select>
                                                            <label>Ismi</label>
                                                            <input class="form-control" type="text">

                                                            <label>Familyasi</label>
                                                            <input class="form-control" type="text">

                                                            <label>Telefon Raqami</label>
                                                            <input class="form-control" type="text">

                                                            <label for="">Turi</label>
                                                            <select name="camp" class="form-control" style="width: 100%">
                                                                <option value="1">Yetakchi</option>
                                                                <option value="1">Tarbiyachi</option>
                                                            </select>
                                                            <div style="padding: 25px 0 0 0;" class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                    Yopish
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i class="fa fa-arrow-right"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                {% endfor %}

                                </tbody>
{#                            <tfoot>#}
{#                            <td>f</td>#}
{#                            <td>f</td>#}
{#                            <td>f</td>#}
{#                            <td>f</td>#}
{#                            <td>f</td>#}
{#                            </tfoot>#}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {#            <footer class="footer pt-0">#}
            {#                <div class="row align-items-center justify-content-lg-between">#}
            {#                    <div class="col-lg-6">#}
            {#                        <div class="copyright text-center  text-lg-left  text-muted">#}
            {#                            &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="col-lg-6">#}
            {#                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">#}
            {#                            <li class="nav-item">#}
            {#                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>#}
            {#                            </li>#}
            {#                            <li class="nav-item">#}
            {#                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>#}
            {#                            </li>#}
            {#                            <li class="nav-item">#}
            {#                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>#}
            {#                            </li>#}
            {#                            <li class="nav-item">#}
            {#                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>#}
            {#                            </li>#}
            {#                        </ul>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </footer>#}
        </div>
    </div>

    {#    <div class="main-content" id="panel">#}
    {#        <!-- Topnav -->#}
    {#        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">#}
    {#            <div class="container-fluid">#}
    {#                <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
    {#                    <!-- Search form -->#}
    {#                    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">#}
    {#                        <div class="form-group mb-0">#}
    {#                            <div class="input-group input-group-alternative input-group-merge">#}
    {#                                <div class="input-group-prepend">#}
    {#                                    <span class="input-group-text"><i class="fas fa-search"></i></span>#}
    {#                                </div>#}
    {#                                <input class="form-control" placeholder="Search" type="text">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">#}
    {#                            <span aria-hidden="true">×</span>#}
    {#                        </button>#}
    {#                    </form>#}
    {#                    <!-- Navbar links -->#}
    {#                    <ul class="navbar-nav align-items-center  ml-md-auto ">#}
    {#                        <li class="nav-item d-xl-none">#}
    {#                            <!-- Sidenav toggler -->#}
    {#                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">#}
    {#                                <div class="sidenav-toggler-inner">#}
    {#                                    <i class="sidenav-toggler-line"></i>#}
    {#                                    <i class="sidenav-toggler-line"></i>#}
    {#                                    <i class="sidenav-toggler-line"></i>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </li>#}
    {#                        <li class="nav-item d-sm-none">#}
    {#                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">#}
    {#                                <i class="ni ni-zoom-split-in"></i>#}
    {#                            </a>#}
    {#                        </li>#}
    {#                        <li class="nav-item dropdown">#}
    {#                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
    {#                                <i class="ni ni-bell-55"></i>#}
    {#                            </a>#}
    {#                            <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">#}
    {#                                <!-- Dropdown header -->#}
    {#                                <div class="px-3 py-3">#}
    {#                                    <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>#}
    {#                                </div>#}
    {#                                <!-- List group -->#}
    {#                                <div class="list-group list-group-flush">#}
    {#                                    <a href="#!" class="list-group-item list-group-item-action">#}
    {#                                        <div class="row align-items-center">#}
    {#                                            <div class="col-auto">#}
    {#                                                <!-- Avatar -->#}
    {#                                                <img alt="Image placeholder" src="{% static 'assets/img/theme/team-1.jpg' %}" class="avatar rounded-circle">#}
    {#                                            </div>#}
    {#                                            <div class="col ml--2">#}
    {#                                                <div class="d-flex justify-content-between align-items-center">#}
    {#                                                    <div>#}
    {#                                                        <h4 class="mb-0 text-sm">John Snow</h4>#}
    {#                                                    </div>#}
    {#                                                    <div class="text-right text-muted">#}
    {#                                                        <small>2 hrs ago</small>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                                <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="list-group-item list-group-item-action">#}
    {#                                        <div class="row align-items-center">#}
    {#                                            <div class="col-auto">#}
    {#                                                <!-- Avatar -->#}
    {#                                                <img alt="Image placeholder" src="{% static 'assets/img/theme/team-2.jpg' %}" class="avatar rounded-circle">#}
    {#                                            </div>#}
    {#                                            <div class="col ml--2">#}
    {#                                                <div class="d-flex justify-content-between align-items-center">#}
    {#                                                    <div>#}
    {#                                                        <h4 class="mb-0 text-sm">John Snow</h4>#}
    {#                                                    </div>#}
    {#                                                    <div class="text-right text-muted">#}
    {#                                                        <small>3 hrs ago</small>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                                <p class="text-sm mb-0">A new issue has been reported for Argon.</p>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="list-group-item list-group-item-action">#}
    {#                                        <div class="row align-items-center">#}
    {#                                            <div class="col-auto">#}
    {#                                                <!-- Avatar -->#}
    {#                                                <img alt="Image placeholder" src="{% static 'assets/img/theme/team-3.jpg' %}" class="avatar rounded-circle">#}
    {#                                            </div>#}
    {#                                            <div class="col ml--2">#}
    {#                                                <div class="d-flex justify-content-between align-items-center">#}
    {#                                                    <div>#}
    {#                                                        <h4 class="mb-0 text-sm">John Snow</h4>#}
    {#                                                    </div>#}
    {#                                                    <div class="text-right text-muted">#}
    {#                                                        <small>5 hrs ago</small>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                                <p class="text-sm mb-0">Your posts have been liked a lot.</p>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="list-group-item list-group-item-action">#}
    {#                                        <div class="row align-items-center">#}
    {#                                            <div class="col-auto">#}
    {#                                                <!-- Avatar -->#}
    {#                                                <img alt="Image placeholder" src="{% static 'assets/img/theme/team-4.jpg' %}" class="avatar rounded-circle">#}
    {#                                            </div>#}
    {#                                            <div class="col ml--2">#}
    {#                                                <div class="d-flex justify-content-between align-items-center">#}
    {#                                                    <div>#}
    {#                                                        <h4 class="mb-0 text-sm">John Snow</h4>#}
    {#                                                    </div>#}
    {#                                                    <div class="text-right text-muted">#}
    {#                                                        <small>2 hrs ago</small>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                                <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="list-group-item list-group-item-action">#}
    {#                                        <div class="row align-items-center">#}
    {#                                            <div class="col-auto">#}
    {#                                                <!-- Avatar -->#}
    {#                                                <img alt="Image placeholder" src="{% static 'assets/img/theme/team-5.jpg' %}" class="avatar rounded-circle">#}
    {#                                            </div>#}
    {#                                            <div class="col ml--2">#}
    {#                                                <div class="d-flex justify-content-between align-items-center">#}
    {#                                                    <div>#}
    {#                                                        <h4 class="mb-0 text-sm">John Snow</h4>#}
    {#                                                    </div>#}
    {#                                                    <div class="text-right text-muted">#}
    {#                                                        <small>3 hrs ago</small>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                                <p class="text-sm mb-0">A new issue has been reported for Argon.</p>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </a>#}
    {#                                </div>#}
    {#                                <!-- View all -->#}
    {#                                <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>#}
    {#                            </div>#}
    {#                        </li>#}
    {#                        <li class="nav-item dropdown">#}
    {#                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
    {#                                <i class="ni ni-ungroup"></i>#}
    {#                            </a>#}
    {#                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">#}
    {#                                <div class="row shortcuts px-4">#}
    {#                                    <a href="#!" class="col-4 shortcut-item">#}
    {#                    <span class="shortcut-media avatar rounded-circle bg-gradient-red">#}
    {#                      <i class="ni ni-calendar-grid-58"></i>#}
    {#                    </span>#}
    {#                                        <small>Calendar</small>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="col-4 shortcut-item">#}
    {#                    <span class="shortcut-media avatar rounded-circle bg-gradient-orange">#}
    {#                      <i class="ni ni-email-83"></i>#}
    {#                    </span>#}
    {#                                        <small>Email</small>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="col-4 shortcut-item">#}
    {#                    <span class="shortcut-media avatar rounded-circle bg-gradient-info">#}
    {#                      <i class="ni ni-credit-card"></i>#}
    {#                    </span>#}
    {#                                        <small>Payments</small>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="col-4 shortcut-item">#}
    {#                    <span class="shortcut-media avatar rounded-circle bg-gradient-green">#}
    {#                      <i class="ni ni-books"></i>#}
    {#                    </span>#}
    {#                                        <small>Reports</small>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="col-4 shortcut-item">#}
    {#                    <span class="shortcut-media avatar rounded-circle bg-gradient-purple">#}
    {#                      <i class="ni ni-pin-3"></i>#}
    {#                    </span>#}
    {#                                        <small>Maps</small>#}
    {#                                    </a>#}
    {#                                    <a href="#!" class="col-4 shortcut-item">#}
    {#                    <span class="shortcut-media avatar rounded-circle bg-gradient-yellow">#}
    {#                      <i class="ni ni-basket"></i>#}
    {#                    </span>#}
    {#                                        <small>Shop</small>#}
    {#                                    </a>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">#}
    {#                        <li class="nav-item dropdown">#}
    {#                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
    {#                                <div class="media align-items-center">#}
    {#                  <span class="avatar avatar-sm rounded-circle">#}
    {#                    <img alt="Image placeholder" src="{% static 'assets/img/theme/team-4.jpg' %}">#}
    {#                  </span>#}
    {#                                    <div class="media-body  ml-2  d-none d-lg-block">#}
    {#                                        <span class="mb-0 text-sm  font-weight-bold">John Snow</span>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </a>#}
    {#                            <div class="dropdown-menu  dropdown-menu-right ">#}
    {#                                <div class="dropdown-header noti-title">#}
    {#                                    <h6 class="text-overflow m-0">Welcome!</h6>#}
    {#                                </div>#}
    {#                                <a href="#!" class="dropdown-item">#}
    {#                                    <i class="ni ni-single-02"></i>#}
    {#                                    <span>My profile</span>#}
    {#                                </a>#}
    {#                                <a href="#!" class="dropdown-item">#}
    {#                                    <i class="ni ni-settings-gear-65"></i>#}
    {#                                    <span>Settings</span>#}
    {#                                </a>#}
    {#                                <a href="#!" class="dropdown-item">#}
    {#                                    <i class="ni ni-calendar-grid-58"></i>#}
    {#                                    <span>Activity</span>#}
    {#                                </a>#}
    {#                                <a href="#!" class="dropdown-item">#}
    {#                                    <i class="ni ni-support-16"></i>#}
    {#                                    <span>Support</span>#}
    {#                                </a>#}
    {#                                <div class="dropdown-divider"></div>#}
    {#                                <a href="#!" class="dropdown-item">#}
    {#                                    <i class="ni ni-user-run"></i>#}
    {#                                    <span>Logout</span>#}
    {#                                </a>#}
    {#                            </div>#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                </div>#}
    {#            </div>#}
    {#        </nav>#}
    {#        <!-- Header -->#}
    {#        <!-- Header -->#}
    {##}
    {#        <!-- Page content -->#}
    {#        <div class="container">#}
    {#            <h1 style="margin-top: 30px; font-weight: bold;" align="center">Toshkent Viloyatidagi Oromgohlar</h1>#}
    {#            <div class="row" style="margin-top: 50px;">#}
    {#                <div class="col-lg-4">#}
    {#                    <div class="card">#}
    {#                        <!-- Card image -->#}
    {#                        <img style="height: 200px;" class="card-img-top" src="https://smartcdn.prod.postmedia.digital/torontosun/wp-content/uploads/2021/03/Camp-Tawingo2-scaled-e1617043857797.jpg?quality=100&strip=all" alt="Image placeholder">#}
    {#                        <!-- Card body -->#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="h2 card-title mb-0">Aloqachi</h5>#}
    {#                            <small class="text-muted">Oqtosh, Bo'stonliq tumani</small>#}
    {#                            <p class="card-text mt-4">#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <span style="float:right; font-weight: bold">2,300,000 UZS</span>#}
    {##}
    {#                            </p>#}
    {#                            <a href="#!" class="btn btn-link px-0">Batafsil <i style="margin-left: 5px" class="fa fa-arrow-right"></i></a>#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#                <div class="col-lg-4">#}
    {#                    <div class="card">#}
    {#                        <!-- Card image -->#}
    {#                        <img style="height: 200px;" class="card-img-top" src="https://smartcdn.prod.postmedia.digital/torontosun/wp-content/uploads/2021/03/Camp-Tawingo2-scaled-e1617043857797.jpg?quality=100&strip=all" alt="Image placeholder">#}
    {#                        <!-- Card body -->#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="h2 card-title mb-0">Aloqachi</h5>#}
    {#                            <small class="text-muted">Oqtosh, Bo'stonliq tumani</small>#}
    {#                            <p class="card-text mt-4">#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <span style="float:right; font-weight: bold">2,300,000 UZS</span>#}
    {##}
    {#                            </p>#}
    {#                            <a href="#!" class="btn btn-link px-0">Batafsil <i style="margin-left: 5px" class="fa fa-arrow-right"></i></a>#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#                <div class="col-lg-4">#}
    {#                    <div class="card">#}
    {#                        <!-- Card image -->#}
    {#                        <img style="height: 200px;" class="card-img-top" src="https://smartcdn.prod.postmedia.digital/torontosun/wp-content/uploads/2021/03/Camp-Tawingo2-scaled-e1617043857797.jpg?quality=100&strip=all" alt="Image placeholder">#}
    {#                        <!-- Card body -->#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="h2 card-title mb-0">Aloqachi</h5>#}
    {#                            <small class="text-muted">Oqtosh, Bo'stonliq tumani</small>#}
    {#                            <p class="card-text mt-4">#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <span style="float:right; font-weight: bold">2,300,000 UZS</span>#}
    {##}
    {#                            </p>#}
    {#                            <a href="#!" class="btn btn-link px-0">Batafsil <i style="margin-left: 5px" class="fa fa-arrow-right"></i></a>#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {##}
    {##}
    {#                <div class="col-lg-4">#}
    {#                    <div class="card">#}
    {#                        <!-- Card image -->#}
    {#                        <img style="height: 200px;" class="card-img-top" src="https://smartcdn.prod.postmedia.digital/torontosun/wp-content/uploads/2021/03/Camp-Tawingo2-scaled-e1617043857797.jpg?quality=100&strip=all" alt="Image placeholder">#}
    {#                        <!-- Card body -->#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="h2 card-title mb-0">Aloqachi</h5>#}
    {#                            <small class="text-muted">Oqtosh, Bo'stonliq tumani</small>#}
    {#                            <p class="card-text mt-4">#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <span style="float:right; font-weight: bold">2,300,000 UZS</span>#}
    {##}
    {#                            </p>#}
    {#                            <a href="#!" class="btn btn-link px-0">Batafsil <i style="margin-left: 5px" class="fa fa-arrow-right"></i></a>#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#                <div class="col-lg-4">#}
    {#                    <div class="card">#}
    {#                        <!-- Card image -->#}
    {#                        <img style="height: 200px;" class="card-img-top" src="https://smartcdn.prod.postmedia.digital/torontosun/wp-content/uploads/2021/03/Camp-Tawingo2-scaled-e1617043857797.jpg?quality=100&strip=all" alt="Image placeholder">#}
    {#                        <!-- Card body -->#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="h2 card-title mb-0">Aloqachi</h5>#}
    {#                            <small class="text-muted">Oqtosh, Bo'stonliq tumani</small>#}
    {#                            <p class="card-text mt-4">#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <span style="float:right; font-weight: bold">2,300,000 UZS</span>#}
    {##}
    {#                            </p>#}
    {#                            <a href="#!" class="btn btn-link px-0">Batafsil <i style="margin-left: 5px" class="fa fa-arrow-right"></i></a>#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#                <div class="col-lg-4">#}
    {#                    <div class="card">#}
    {#                        <!-- Card image -->#}
    {#                        <img style="height: 200px;" class="card-img-top" src="https://smartcdn.prod.postmedia.digital/torontosun/wp-content/uploads/2021/03/Camp-Tawingo2-scaled-e1617043857797.jpg?quality=100&strip=all" alt="Image placeholder">#}
    {#                        <!-- Card body -->#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="h2 card-title mb-0">Aloqachi</h5>#}
    {#                            <small class="text-muted">Oqtosh, Bo'stonliq tumani</small>#}
    {#                            <p class="card-text mt-4">#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <i style="color: yellow" class="fa fa-star"></i>#}
    {#                                <span style="float:right; font-weight: bold">2,300,000 UZS</span>#}
    {##}
    {#                            </p>#}
    {#                            <a href="#!" class="btn btn-link px-0">Batafsil <i style="margin-left: 5px" class="fa fa-arrow-right"></i></a>#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {##}
    {#                </div>3#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#            </div>#}
    {##}
    {#        </div>#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#    </div>#}
{% endblock %}