{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        <!-- Topnav -->
        {% include "admin_interface/components/navbar.html" %}
        <div class="container-fluid mt--6">
            <div class="row" style="margin-top: 102px;">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 style="text-transform: uppercase" class="mb-0"> ALOQACHI OTRYADLARI BO'YICHA STATISTIKA</h2>
                                </div>
                                <div class="col text-right">

                                    <select style="width: 30%; float:right;" class="form-control" name="shift" id="">
                                        <option value="1">I-Smena</option>
                                        <option value="2">II-Smena</option>
                                        <option value="3">III-Smena</option>
                                        <option value="4">IV-Smena</option>
                                    </select>

                                    <!-- This is Filter by year
                                    Do not delete it, we may need it in the future

                                    <select style="width: 15%; margin-right: 20px; float:right;" class="form-control" name="shift" id="">
                                     <option value="2021">2021</option>#}
                                      <option value="2022">2022</option>
                                       <option value="2023">2023</option>
                                  </select>
                                    -->
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th style="font-size: 15px; font-weight: bold" scope="col"
                                        class="table-header-custom">Otrayd
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Jins
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Yosh
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Sig'imi
                                    </th>

                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Buyurtmalar
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        To'lov qiganlar
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Jami band
                                    </th>
                                    <th style="font-size: 15px; font-weight: bold" scope="col" class="table_header">
                                        Bo'sh joy
                                    </th>
                                </tr>
                                </thead>

                                <tbody>

                                    <tr class="table-content">

                                        <th scope="row">
                                            1
                                        </th>
                                        <td>
                                            O'gil bola
                                        </td>

                                        <td>
                                        13-14
                                        </td>
                                        <td align="center">
                                            40
                                        </td>
                                        <td align="center">
                                            30
                                        </td>
                                        <td align="center">
                                           5
                                        </td>
                                        <td align="center">
                                            35
                                        </td>
                                        <td align="center">
                                            5
                                        </td>

                                    </tr>
                                    <tr class="table-content">

                                        <th scope="row">
                                            2
                                        </th>
                                        <td>
                                            Qiz bola
                                        </td>

                                        <td>
                                        13-14
                                        </td>
                                        <td align="center">
                                            30
                                        </td>
                                        <td align="center">
                                            5
                                        </td>
                                        <td align="center">
                                           17
                                        </td>
                                        <td align="center">
                                            22
                                        </td>
                                        <td align="center">
                                            8
                                        </td>

                                    </tr>



                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td align="center" style="font-size: 18px; font-weight: bold;">70</td>
                                    <td align="center" style="font-size: 18px; font-weight: bold;">35</td>
                                    <td align="center" style="font-size: 18px; font-weight: bold;">22</td>
                                    <td align="center" style="font-size: 18px; font-weight: bold;">57</td>
                                    <td align="center" style="font-size: 18px; font-weight: bold;">13</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}