{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">{{ object.name }} Oromgohni tahrirlash</h3>

                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-name">Nomi</label>
                                <input value="{{ object.name }}"  name="name" type="text" id="input-name" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-cost">Narxi</label>
                                <input value="{{ object.cost }}" name="cost" type="number" id="input-cost" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-address">Manzil</label>
                                <input value="{{ object.address }}" name="address" type="text" id="input-address" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Tuman</label>
                                <select name="region" class="form-control">
                                    {% for region in regions %}
                                        <option value="{{ region.id }}">{{ region }}</option>

                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-description">Tavsif</label>
                                <textarea name="about_description" style="width: 207%;height: 8em;" type="text" id="input-description"
                                          class="form-control">{{ object.about_description }}</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="main_description">Oromgoh Haqida</label>
                                <textarea name="main_description" style="width: 207%;height: 8em;" type="text"
                                          id="main_description" class="form-control">{{ object.main_description }}</textarea>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="nutrition_description">Ovqatlanish</label>
                                <textarea name="nutrition_description" style=";width: 207%;height: 8em;" type="text"
                                          id="nutrition_description" class="form-control">{{ object.nutrition_description }}</textarea>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="program_description">Dastur haqida</label>
                                <textarea name="program_description" style="width: 207%;height: 8em;" type="text"
                                          id="program_description" class="form-control">{{ object.program_description }}</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <section style="padding: 0;margin-top: 30px;margin-bottom: 45px;" class="ftco-section">
                                <p style="font-size: .875rem;font-weight: 600;color: #525f7f;">Xususiyatlari</p>



                                <select name="advantages" class="js-select2" multiple="multiple">

{#                                    <option selected value="{{ object.advantages.id }}"> {{ object.advantages }}</option>#}
                                    {% for advantage in object.advantages.all %}
                                        {{ advantage }}
                                        <option selected value="{{ advantage.id }}"> {{ advantage }}</option>
                                    {% endfor %}

                                </select>
                            </section>

                        </div>


                    </div>

                <div class="col-lg-12">
                    <div class="row">
                        {% for phone_number in object.phonenumber_set.all %}
                        <div style="    margin-top: 20px;" class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-phone">Telefon  </label>
                                <input name="phone_number" type="number" id="input-phone" class="form-control phone_number_input" placeholder="+998"
                                       value="{{ phone_number }}">

                            </div>
                        </div>
                            {% if object.phonenumber_set.all.count == 1  %}
                            <div style="    margin-top: 20px;" class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-phone">Telefon  </label>
                                    <input name="phone_number" type="number" id="input-phone" class="form-control phone_number_input" placeholder="+998"
                                           value="">

                                </div>
                            </div>
                            <div style="    margin-top: 20px;" class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-phone">Telefon  </label>
                                    <input name="phone_number" type="number" id="input-phone" class="form-control phone_number_input" placeholder="+998"
                                           value="">

                                </div>
                            </div>
                            <div style="    margin-top: 20px;" class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-phone">Telefon  </label>
                                    <input name="phone_number" type="number" id="input-phone" class="form-control phone_number_input" placeholder="+998"
                                           value="">

                                </div>
                            </div>
                                {% elif object.phonenumber_set.all.count == 2 %}
                                <div style="    margin-top: 20px;" class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-phone">Telefon  </label>
                                        <input name="phone_number" type="number" id="input-phone" class="form-control phone_number_input" placeholder="+998"
                                               value="">

                                    </div>
                                </div>
                                <div style="    margin-top: 20px;" class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-phone">Telefon  </label>
                                        <input name="phone_number" type="number" id="input-phone" class="form-control phone_number_input" placeholder="+998"
                                               value="">

                                    </div>
                                </div>
                            {% elif object.phonenumber_set.all.count == 3 %}
                                <div style="    margin-top: 20px;" class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-phone">Telefon  </label>
                                        <input name="phone_number" type="number" id="input-phone" class="form-control phone_number_input" placeholder="+998"
                                               value="">

                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>

                    <h4>Oromgoh rasmlari</h4>
                    <div class="row">

                        <input name="images" class="multiple-image-upload-input" style="margin-left: 20px;" id='files' type='file' multiple/>

                        {#                        </butt/on>#}
                        <output style="padding: 5px 3px;border: 1px solid #c9b7b7;width: 91%;margin: 15px 0 0 34px;" id='result' />

                                {% for image in object.campimage_set.all %}
                                    <div style="float: left">

                                    <div>
                                    <div>
                                    <img style="height: 100px;margin: 10px;width: 200px;" src="{{ image.image.url }}">
                                    </div>
                                    <div style="text-align: center">
                                        <i class="fa fa-trash-alt delete-image-icon"></i>
                                        <input type="hidden" value="{{ image.id }}">
                                    </div>
                                    </div>
                                    </div>
                                {% endfor %}


                            </div>


                    </div>

                    <button style="margin-left: 27px; float:right; margin-top: 20px;" type="submit" class="btn btn-primary">
                        Saqlash</button>
                <button style="margin-left: 27px; float:right; margin-top: 20px;" type="button" class="btn btn-dribbble reload-page">
                    Rasmlani o'cirish</button>
            </form>

                </div>
                    </div>
                </div>
                <hr class="my-4"/>
                <!-- Address -->

{#            </form>#}


{% endblock %}

{% block footer %}
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $('.delete-image-icon').click(function () {
            var image_id = $(this).next().val()
            console.log(image_id)
            $.ajax({
                url: `/delete_camp_image/${image_id}`,
            });
            $(this).parent().prev().remove();
            $(this).remove();

        })



        {#$(this).parent().prev().prev().attr('src').replace('default.jpg');#}


    </script>

    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>

    <!-- Optional JS -->
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'assets/js/argon.js' %}"></script>
    <script src="{% static 'assets/js/custom/update_camp_show_images.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'multiselect/js/main.js' %}"></script>
    <script src="{% static 'multiselect/js/popper.js' %}"></script>
    <script src="{% static 'multiselect/js/bootstrap.min.js' %}"></script>
{% endblock %}


