{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}

        <div class="card-body">
            <form method="post">

                {% csrf_token %}
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">Otraydni tahrirlash</h3>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-number">Otrayd Raqami</label>
                                <input name="number" type="number" id="input-number" class="form-control" value="{{ object.number }}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-capacity">Sig'imi</label>
                                <input value="{{ object.capacity }}" name="capacity" type="number" id="input-capacity" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label">Yosh (dan)</label>
                                <select name="from_age" class="form-control">
{#                                    <option value="{{ object.from_age }}" selected>{{ object.from_age }}</option>#}
                                    <option value="{{ object.from_age }}" selected hidden>{{ object.from_age }}</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label">Yosh (gacha)</label>
                                <select name="until_age" class="form-control">
                                    <option value="{{ object.until_age }}" selected hidden>{{ object.until_age }}</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label">Jins</label>
                                <select name="gender" class="form-control">
                                    <option value="{{ object.gender }}" selected hidden>
                                        {% if object.gender == 'boys' %}
                                        O'g'il bola
                                        {% elif object.gender == 'girls' %}
                                            Qiz bola
                                            {% elif object.gender == 'mixed' %}
                                            Aralash
                                        {% endif %}
                                    </option>
                                    <option value="boys">O'g'il bola</option>
                                    <option value="girls">Qiz bola</option>
                                    <option value="mixed">Aralash</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label">Otryad Strukturasi</label>
                                <select name="squad_structure_type" class="form-control">
                                    <option selected hidden value="{{ object.squad_structure_type }}">
                                        {% if object.squad_structure_type == 'separated_by_rooms' %}
                                        Xonalar
                                        {% elif object.squad_structure_type == 'multiple_bunks' %}
                                        Koykalar
                                        {% endif %}
                                    </option>
                                    <option value="separated_by_rooms">Xonalar</option>
                                    <option value="multiple_bunks">Koykalar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label">Oromgoh</label>
                                <select name="camp" class="form-control">
                                <option selected hidden value="{{ object.camp.id }}">{{ object.camp.name }}</option>
                                    {% for camp in camps_list %}
                                        <option value="{{ camp.id }}">{{ camp }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o"></i>
                        Tahrirlash</button>
                </div>
                <hr class="my-4"/>
            </form>
        </div>
    </div>
{% endblock %}