{% extends 'admin_interface/base.html' %}
{% load static %}

{% block content %}
    <div class="main-content" id="panel">
        {% include "admin_interface/components/navbar.html" %}
        <div class="card-body">
            <form method="post">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% csrf_token %}
                <h3 style="margin-left: 25px;font-weight: bold;font-size: 28px;text-align: center;"
                    class="heading-small text-muted mb-4">Smenani Tahrirlash</h3>

                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Smena Raqami</label>
                                <input name="number" type="number" id="input-username" class="form-control" value="{{ object.number }}">
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Boshlanishi</label>
                                <input name="start_date" type="date" class="form-control" value="{{ object.start_date|date:'Y-m-d' }}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Tugashi</label>
                                <input name="end_date" type="date" class="form-control" value="{{ object.end_date|date:'Y-m-d' }}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Oromgoh</label>
                               <input disabled readonly value="{{ object.camp.name }}" class="form-control">
                            </div>

                        </div>

                    </div>

                    <div class="row">


                    </div>
                    <button type="submit" class="btn btn-primary">Tahrirlash</button>

                </div>


        </div>
        <hr class="my-4"/>
        <!-- Address -->

        </form>
    </div>

    </div>

{% endblock %}