/* SF-Pro-Rounded-Light */
@font-face {
    font-family: 'SF-Pro-Rounded-Light';
    font-style: normal;
    src: local(''),
    url('../fonts/SF-Pro-Rounded-Light.woff') format('woff')
}

@font-face {
    font-family: 'SF-Pro-Rounded-Regular';
    font-style: normal;
    src: local(''),
    url('../fonts/SF-Pro-Rounded-Regular.woff') format('woff')
}

@font-face {
    font-family: 'SF-Pro-Rounded-Medium';
    font-style: normal;
    src: local(''),
    url('../fonts/SF-Pro-Rounded-Medium.woff') format('woff')
}

@font-face {
    font-family: 'SF-Pro-Rounded-Heavy';
    font-style: normal;
    src: local(''),
    url('../fonts/SF-Pro-Rounded-Heavy.woff') format('woff')
}

@font-face {
    font-family: 'SF-Pro-Rounded-Bold';
    font-style: normal;
    src: local(''),
    url('../fonts/SF-Pro-Rounded-Bold.woff') format('woff')
}

@font-face {
    font-family: 'SF-Pro-Rounded-Black';
    font-style: normal;
    src: local(''),
    url('../fonts/SF-Pro-Rounded-Black.woff') format('woff')
}

/*-------------fonts---------------*/
/*=============all=================*/
body {
    font-family: "SF-Pro-Rounded-Regular";
    background-color: rgba(243, 246, 252, 1);
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1330px) {
    .container {
        max-width: 1300px;
    }

    .col-my-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-my-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 1200px) {
    .my-container {
        max-width: 1100px;
    }
}

/*-------------all-----------------*/
/*=============cabinet=============*/
.cab-menu {
    margin-top: 30px;
}

.cab-menu ul {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    padding: 15px;
}

.cab-menu ul li {
}

.cab-menu ul li a {
    display: block;
    padding: 15px;
    border-radius: 15px;
}

.cab-menu ul li a:hover {
    background-color: rgba(117, 105, 223, 1);
}

.cab-menu ul li a svg {
    fill: rgba(117, 105, 223, 1);
}

.cab-menu ul li a:hover svg {
    fill: rgba(243, 246, 252, 1);
}

.cab-menu ul li a span {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 18px;
    color: rgba(62, 89, 110, 1);
    margin-left: 10px;
}

.cab-menu ul li a:hover span {
    color: rgba(243, 246, 252, 1);
}

.cab-camps {
    margin-top: 30px;
}

.cab-read {
    text-align: right;
}

.cab-read a {
    display: inline-block;
    background-color: rgba(117, 105, 223, 1);
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 5px;
}

.cab-read a span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(243, 246, 252, 1);
    margin-left: 20px;
    margin-right: 12px;
}

.cab-read a img {
    width: auto !important;
    display: inline-block !important;
    transition: 0.36s;
}

.cab-read a:hover img {
    transform: rotate(360deg);
}

@media (max-width: 1329px) {
    .cab-camps .camps-in {
        margin: auto;
    }
}

/*-------------cabinet-------------*/
/*=============login===============*/
.banner-login {
    position: relative;
    min-height: 100vh;
}

.one-id-in {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.one-id-in a {
}

.one-id-in a img {
    max-width: 100%;
}

@media (min-width: 1200px) {
    .one-id-in {
        margin-top: 120px;
    }
}

@media (max-width: 1199px) {
    .one-id-in {
        margin-top: 30px;
    }
}

/*-------------login---------------*/
/*=============stars===============*/
.rate {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    padding: 0px 0px;
}

.rate label {
    margin-bottom: 0px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    float: right;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.detail-stars {
    display: flex;
    justify-content: center;
}

/*-------------stars---------------*/
/*=============detail==============*/
.detail-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-enter-text {
    margin-top: 15px;
}

.detail-enter-text span {
    line-height: normal !important;
    display: inline-block;
    max-width: 900px;
}

.detail-prav {
}

.detail-prav a {
}

.detail-prav a img {
    transition: 0.25s;
}

.detail-prav a:hover img {
    transform: translateX(-10px);
}

.detail-prav a span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(243, 246, 252, 1);
}

.detail-comment span {
    display: inline-block;
    color: rgba(62, 89, 110, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 30px;
    border-radius: 30px;
    font-family: "SF-Pro-Rounded-Medium";
}

.detail-nav {
    margin-top: 36px;
}

.owl-detail-img img {
    border-radius: 15px;
}

.owl-detail .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.owl-detail .owl-carousel .owl-nav button.owl-next {

}

.owl-detail .owl-carousel .owl-nav button.owl-prev {
}

.owl-detail .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
}

.owl-detail .owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(243, 246, 252, 1);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.25s;
}

.owl-detail .owl-carousel button.owl-dot.active {
    width: 40px;
}

.detail {
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-top: 30px;
}

.detail-tabs {
    margin-top: 30px;
}

.detail-tabs .nav-tabs {
    background-color: rgba(117, 105, 223, 1);
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detail-tabs .nav-tabs .nav-item {
}

.detail-tabs .nav-tabs .nav-item .nav-link {
    display: inline-block;
    border-radius: 10px;
    font-family: "SF-Pro-Rounded-Medium";
    padding: 10px 30px;
    color: rgba(243, 246, 252, 1);
}

.detail-tabs .nav-tabs .nav-item .nav-link.active {
    color: rgba(117, 105, 223, 1);
    background-color: rgba(255, 255, 255, 1);
}

.detail-tabs .tab-content {
    margin-top: 30px;
}

.detail-tab-title {
}

.detail-tab-title span {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 22px;
    color: rgba(62, 89, 110, 1);
}

.char {
    margin-top: 15px;
}

.char-title {
}

.char-title img {
    max-width: 30px;
}

.char-title span {
    font-size: 14px;
    color: rgba(62, 89, 110, 1);
}

.char-list {
}

.char-list a {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 12px;
    color: rgba(62, 89, 110, 1);
    display: inline-block;
    border: 1px solid rgba(117, 105, 223, 1);
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.char-list a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 105, 223, 1);
}

.detail-content-out {
    margin-top: 15px;
}

.detail-content-title {
}

.detail-content-title img {
    max-width: 30px;
}

.detail-content-title span {
    font-size: 14px;
    color: rgba(62, 89, 110, 1);
}

.detail-content {
    margin-top: 10px;
    text-align: justify;
}

.detail-content p {
    color: rgba(62, 89, 110, 1);
}

.detail-item {
    margin-top: 30px;
}

.detail-item img {
    max-width: 36px;
}

.detail-item span.detail-item-left {
    font-size: 14px;
    color: rgba(85, 124, 155, 1);
}

.detail-item span.detail-item-right {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
}

.detail-description {
    margin-top: 10px;
}

.detail-description span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
}

.detail-maps {
}

.detail-maps a {
}

.detail-maps a span {
    font-size: 14px;
    color: rgba(117, 105, 223, 1);
}

.detail-maps a img {
    margin-left: 10px;
    max-width: 36px;
}

.detail-maps {
    margin-top: 10px;
}

.green-price {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 14px;
    color: rgba(86, 154, 33, 1);
}

.red-price {
    margin-top: 10px;
}

.red-price span {
    font-family: "SF-Pro-Rounded-Bold";
    font-size: 24px;
    color: rgba(254, 104, 83, 1);
}

.detail-online {
    margin-top: 15px;
}

.detail-online a {
}

.detail-online a img {
    max-width: 120px;
    transition: 0.25s;
}

.detail-online a:hover img {
    transform: scale(1.12);
}

.za-love {
    margin-top: 30px;
    display: flex;
}

.za {
    background-color: rgba(117, 105, 223, 1);
    border-radius: 30px;
    display: inline-block;
    padding: 5px;
    border: none;
}

.za span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(243, 246, 252, 1);
    padding-left: 30px;
    padding-right: 30px;
}

.za span {
}

.za img {
    transition: 0.25s;
}

.za:hover img {
    transform: rotate(360deg);
}

.love {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(254, 104, 83, 1);
    margin-left: 15px;
}

.love img {
    transition: 0.25s;
}

.love:hover img {
    transform: scale(1.2);
}

.detail-rate {

}

.rate-left-out {
    display: flex;
    align-items: center;
}

.rate-left {
    margin-right: 15px;
}

.modal-content {
    border: none;
    border-radius: 10px;
}

.my-model .modal-title span {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 16px;
    color: rgba(254, 104, 83, 1);
}

.my-model .modal-title span {
}

.camps-name {
    text-align: center;
}

.camps-name span {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 18px;
    color: rgba(62, 89, 110, 1);
}

.btn-x {
    position: absolute;
    right: 8px;
    top: 0;
    background-color: rgb(255 108 65);
    color: #fff;
}

@media (min-width: 576px) {
    .detail-enter-text span {
        font-size: 36px !important;
    }
}

@media (min-width: 768px) {
    .detail-comment {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .detail-container {
        max-width: 1130px;
    }
}

@media (max-width: 767px) {
    .detail-nav {
        text-align: center;
    }
}

/*-------------detail--------------*/
/*=============pagination==========*/
.my-pagination {
    margin-top: 30px;
}

.my-pagination .pagination {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my-pagination .pagination .page-item {
    margin-right: 10px;
    margin-left: 10px;
}

.my-pagination .pagination .page-item {
}

.my-pagination .pagination .page-item .page-link {
    border-radius: 8px;
    color: rgba(117, 105, 223, 1);
}

.my-pagination .page-item.active .page-link {
    background-color: rgba(117, 105, 223, 1);
    border-color: rgba(117, 105, 223, 1);
    color: rgba(255, 255, 255, 1);
}

/*-------------pagination----------*/
/*=============camps===============*/
.camps-banner {
    min-height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.camps-banner-img {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    min-height: 100%;
}

.camps-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.pcamps {
    margin-top: 30px;
}

.result {
    text-align: center;
}

.result-text {
    font-size: 18px;
    color: rgba(243, 246, 252, 1);
}

.result-number {
    font-family: "SF-Pro-Rounded-Bold";
    font-size: 24px;
    color: rgba(243, 246, 252, 1);
}

@media (min-width: 992px) {
    .pcamps-container {
        max-width: 970px;
    }
}

/*-------------camps---------------*/
/*=============footer==============*/
.f-menu .navbar .navbar-nav {
    flex: 1;
    justify-content: space-between;
}

.f-menu .navbar-nav .nav-link {
    color: rgba(62, 89, 110, 1);
}

.f-menu .navbar-nav .nav-link {
}

.f-title span {
    font-family: "SF-Pro-Rounded-Bold";
    font-size: 18px;
    color: rgba(117, 105, 223, 1);
}

.f-description {
    margin-top: 15px;
}

.f-description span {
    color: rgba(62, 89, 110, 1);
}

.f-description span ins {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(254, 104, 83, 1);
    text-decoration: none;
}

.f-social {
    margin-top: 15px;
    display: flex;
}

.f-social a {
    border: 1px solid rgba(85, 124, 155, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-social a img {
    transition: 0.36s;
}

.f-social a:hover img {
    transform: scale(1.2) rotate(360deg);
}

.f-social a:hover {
    border-color: rgba(117, 105, 223, 1);
}

.f-address {
    margin-top: 15px;
}

.f-address img {
    margin-right: 10px;
}

.f-address span {
    color: rgba(62, 89, 110, 1);
}

.f-address a {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
}

.f-address a:hover {
    color: rgba(117, 105, 223, 1);
}

.f-online {
}

.f-online a {
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
}

.f-online a img {
    transition: 0.25s;
}

.f-online a:hover img {
    transform: scale(1.2);
}

.copy {
    margin-top: 15px;
}

.ctrl-enter {
    margin-top: 15px;
}

.ctrl-enter span {
    font-family: "SF-Pro-Rounded-Light";
    font-size: 14px;
    color: rgba(85, 124, 155, 1);
}

.uz {
    margin-top: 15px;
}

.uz a {
}

.uz a img {
    transition: 0.25s;
}

.uz a:hover img {
    transform: scale(1.18);
}

.f-line {
    height: 10px;
    background-color: rgba(117, 105, 223, 1);
    margin-top: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.f-menu .navbar-nav .dropdown-menu {
    margin-top: 0;
    border-radius: 15px;
}

.f-menu .navbar-nav .dropdown-menu .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.f-menu .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: rgba(117, 105, 223, 1);
}

@media (min-width: 576px) {
    .f-title {
        margin-top: 30px;
    }

    .uz {
        text-align: right;
    }

    footer {
        margin-top: 80px;
    }
}

@media (min-width: 1200px) {
    .f-menu .navbar-nav .nav-link {
        font-family: "SF-Pro-Rounded-Medium";
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .f-title {
        margin-top: 15px;
    }

    footer {
        margin-top: 30px;
    }
}

/*-------------footer--------------*/
/*=============telegram============*/
.telegram-section {
}

.telegram {
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    border-radius: 30px;
    background-color: rgba(114, 101, 211, 1);
}

.telegram-semi {
}

.telegram-semi img {
    margin-bottom: 12px;
    margin-left: 10px;
}

.telegram-semi span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(243, 246, 252, 1);
}

.telegram-thin {
}

.telegram-thin span {
    font-family: "SF-Pro-Rounded-Light";
    color: rgba(243, 246, 252, 1);
}

.tel-read a {
    display: inline-block;
    background-color: rgba(243, 246, 252, 1);
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 5px;
}

.tel-read a:hover {
    background-color: rgba(255, 255, 255, 1.0);
}

.tel-read a span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(254, 104, 83, 1);
    margin-left: 20px;
    margin-right: 12px;
}

.tel-read a img {
    width: auto !important;
    display: inline-block !important;
    transition: 0.36s;
}

.tel-read a:hover img {
    transform: rotate(360deg);
}

@media (min-width: 576px) {
    .telegram-section {
        margin-top: 60px;
    }
}

@media (min-width: 992px) {
    .telegram-semi span {
        font-size: 40px;
        line-height: 40px;
    }

    .telegram-thin span {
        font-size: 26px;
    }
}

@media (min-width: 1330px) {
    .telegram {
        padding-left: 50px;
    }
}

@media (max-width: 1329px) {
    .tel-read {
        text-align: center;
        margin-top: 15px;
    }

    .telegram {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .telegram-semi span {
        font-size: 24px;
    }

    .telegram-thin span {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .telegram-section {
        margin-top: 30px;
    }
}

/*-------------telegram------------*/
/*=============part================*/
.part {
    display: flex;
    align-items: center;
}

.part-logo {

}

.part-logo img {
    max-width: 80px;
}

.part-flag {
    margin-left: 10px;
    margin-right: 10px;
}

.part-flag img {
}

.part-title {
    max-width: 250px;
}

.part-title span {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 13px;
    color: rgba(62, 89, 110, 1);
    letter-spacing: -0.5px;
}

.owl-partner .owl-carousel .owl-item img {
    width: auto;
    display: inherit;
}

.owl-partner .owl-carousel .owl-dots {
    text-align: center;
}

.owl-partner .owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(117, 105, 223, 1);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.25s;
}

.owl-partner .owl-carousel button.owl-dot.active {
    width: 40px;
}

.owl-partner .owl-carousel button.owl-dot {
}

@media (min-width: 576px) {
    .owl-partner {
        margin-top: 50px;
    }

    .partner-section {
        margin-top: 80px;
    }
}

@media (max-width: 575px) {
    .owl-partner {
        margin-top: 20px;
    }

    .partner-section {
        margin-top: 30px;
    }
}

/*-------------part----------------*/
/*=============stat================*/
.stat {
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 30px 15px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
}

.stat-icon {
    height: 100px;
}

.stat-icon img {
    max-width: 100%;
    max-height: 100%;
}

.stat-title {
    margin-top: 15px;
}

.stat-title span {
    color: rgba(85, 124, 155, 1);
    letter-spacing: -0.4px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 48px;
}

.stat-number {
}

.stat-number span {
    font-family: "SF-Pro-Rounded-Bold";
    color: rgba(254, 104, 83, 1);
}

.stat-grow {
}

.stat-grow span {
    font-family: "SF-Pro-Rounded-Bold";
    font-size: 22px;
    color: rgba(117, 105, 223, 1);
}

.stat-description {
    margin-bottom: 12px;
}

.stat-description span {
    color: rgba(85, 124, 155, 1);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.stat-item {
}

.stat-item span:first-child {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 20px;
    color: rgba(85, 124, 155, 1);
}

.stat-item span:last-child {
    font-family: "SF-Pro-Rounded-Bold";
    color: rgba(254, 104, 83, 1);
    font-size: 20px;
}

@media (min-width: 576px) {
    .stat {
        margin-top: 30px;
    }

    .stat-number span {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    .stat-section {
        margin-top: 350px;
    }
}

@media (max-width: 1199px) {
    .stat-section {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .stat {
        margin-top: 15px;
    }

    .stat-number span {
        font-size: 30px;
    }
}

/*-------------stat----------------*/
/*=============service=============*/
.service-section {
    position: relative;
    margin-top: 60px;
}

.service-section:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1650px;
    background-image: url(../img/ser.png);
    background-position: bottom;
    top: -600px;
    left: 0;
    background-size: cover;
    z-index: -2;
}

.service-g {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-radius: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: rgba(255, 255, 255, 1.0);
}

.service-left {
    text-align: center;
}

.service-left p {
    font-size: 14px;
    color: rgba(85, 124, 155, 1);
    margin-bottom: 0px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.service-left h1 {
    font-family: "SF-Pro-Rounded-Bold";
    color: rgba(254, 104, 83, 1);
    margin-bottom: 0px;
}

.service-title a {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 22px;
    color: rgba(62, 89, 110, 1);
    letter-spacing: -0.8px;
}

.service-title a:hover {
    color: rgba(55, 103, 232, 1);
}

.service-link {
    text-align: right;
    margin-top: 15px;
}

.service-link a span {
    font-family: "SF-Pro-Rounded-Light";
    color: rgba(62, 89, 110, 1);
}

.service-link a:hover span {
    color: rgba(55, 103, 232, 1);
}

.service-link a img {
    transition: 0.25s;
}

.service-link a:hover img {
    transform: translateX(10px);
}

.service-v {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 1.0);
}

.service-online {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.service-online p {
    color: rgba(85, 124, 155, 1);
    margin-bottom: 0px;
}

.service-online-red {
}

.service-online-red span {
    font-family: "SF-Pro-Rounded-Bold";
    font-size: 22px;
    color: rgba(254, 104, 83, 1);
}

.service-title-v {
    text-align: center;
}

.service-title-v a {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 22px;
    color: rgba(62, 89, 110, 1);
    letter-spacing: -0.8px;
}

.service-title-v a:hover {
    color: rgba(55, 103, 232, 1);
}

.service-img img {
    max-width: 100%;
}

@media (min-width: 576px) {
    .service-g {
        margin-top: 30px;
    }

    .service-v {
        margin-top: 30px;
    }

    .service-img {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .service-left h1 {
        font-size: 60px;
    }

    .service-title a {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

@media (min-width: 1200px) {
    .service-title-v a {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        height: 165px;
    }

    .service-title {
        height: 99px;
    }
}

@media (max-width: 767px) {
    .service-title {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .service-g {
        margin-top: 15px;
    }

    .service-v {
        margin-top: 15px;
    }

    .service-img {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/*-------------service-------------*/
/*=============camps===============*/
.owl-camps {
}

.camps {
    padding-top: 30px;
    padding-bottom: 30px;
}

.camps-in {
    border-radius: 30px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1.0);
}

.camps-img {
}

.camps-img a {
}

.camps-img-in {
}

.camps-img-in img {
    width: 100%;
    border-radius: 15px;
}

.camps-right {
}

.camps-title {
}

.camps-title a {
    font-family: "SF-Pro-Rounded-Medium";
    font-size: 22px;
    color: rgba(62, 89, 110, 1);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.camps-title a:hover {
    color: rgba(55, 103, 232, 1);
}

.camps-data {
    margin-top: 15px;
}

.camps-data img {
    width: auto !important;
    display: inline-block !important;
}

.camps-data span.left {
    font-size: 14px;
    color: rgba(85, 124, 155, 1);
}

.camps-data span.right {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
}

.camps-data span.price {
    font-family: "SF-Pro-Rounded-Bold";
    font-size: 24px;
    color: rgba(254, 104, 83, 1);
}

.camps-maps-link {
    margin-top: 15px;
}

.camps-maps-link a {
}

.camps-maps-link a span {
    color: rgba(117, 105, 223, 1);
    font-size: 12px;
}

.camps-maps-link a img {
    width: auto !important;
    display: inline-block !important;
    margin-left: 5px;
    transition: 0.25s;
}

.camps-maps-link a:hover img {
    transform: translateX(5px);
}

.camps-maps-link a:hover span {
    color: rgba(55, 103, 232, 1);
}

.camps-read {
    margin-top: 15px;
}

.camps-read a {
    display: inline-block;
    background-color: rgba(243, 246, 252, 1);
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 5px;
}

.camps-read a:hover {
    background-color: rgba(255, 255, 255, 1.0);
}

.camps-read a span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
    margin-left: 20px;
    margin-right: 12px;
}

.camps-read a img {
    width: auto !important;
    display: inline-block !important;
    transition: 0.36s;
}

.camps-read a:hover img {
    transform: rotate(360deg);
}

.owl-camps .owl-carousel .owl-nav {
    text-align: center;
}

.owl-camps .owl-carousel .owl-nav button.owl-next,
.owl-camps .owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.owl-camps .owl-carousel .owl-nav button.owl-next,
.owl-camps .owl-carousel .owl-nav button.owl-prev {

}

.owl-camps .owl-carousel .owl-dots {
    text-align: center;
    margin-top: 10px;
    padding-top: 2px;
}

.owl-camps .owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #7569DF;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    transition: 0.25s;
}

.owl-camps .owl-carousel button.owl-dot.active {
    width: 40px;
    border-radius: 5px;
}

.owl-camps .owl-carousel button.owl-dot:hover {
    background-color: rgba(55, 103, 232, 1);
}

.camps-all {
    text-align: center;
    margin-top: 30px;
}

.camps-all {
}

.camps-read-all {
    margin-top: 15px;
}

.camps-read-all a {
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: rgba(255, 255, 255, 1.0);
    padding: 5px;
}

.camps-read-all a:hover {
    background-color: rgba(243, 246, 252, 1);
}

.camps-read-all a span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
    margin-left: 20px;
    margin-right: 12px;
}

.camps-read-all a img {
    width: auto !important;
    display: inline-block !important;
    transition: 0.36s;
}

.camps-read-all a:hover img {
    transform: rotate(360deg);
}

.camps-rate {
    margin-top: 15px;
    display: flex;
}

@media (min-width: 576px) {
    .camps-section {
        margin-top: 80px;
    }

    .camps-img-in img {
        height: 330px;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .camps-in {
        width: 940px;
        box-shadow: 0px 3px 6px #00000029;
    }
}

@media (max-width: 991px) {
    .camps-title {
        margin-top: 15px;
    }
}

/*-------------camps---------------*/
/*=============banner==============*/
.banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.enter {
}

.spring {
}

.spring span {
    font-family: "SF-Pro-Rounded-Light";
    color: rgba(243, 246, 252, 1);
}

.enter-text {
}

.enter-text span {
    font-family: "SF-Pro-Rounded-Bold";
    color: rgba(243, 246, 252, 1);
}

.select {
    padding-bottom: 120px;
}

.select-title {
    text-align: center;
}

.select-title span {
    font-family: "SF-Pro-Rounded-Light";
    color: rgba(243, 246, 252, 1);
}

.select-form {
    margin-top: 20px;
}

.select-form form {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 10px 10px 30px;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.select-form form select {
    border: none;
    font-size: 18px;
    color: rgba(62, 89, 110, 1);
    position: relative;
    padding-right: 20px;
}

.select-form form select {
}

.select-submit {
}

.select-submit button {
    border: none;
    border-radius: 50px;
    background-color: rgba(117, 105, 223, 1);
    padding: 5px 5px 5px 25px;
}

.select-submit button span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(243, 246, 252, 1);
}

.select-submit button img {
    margin-left: 8px;
    transition: 0.36s;
}

.select-submit button:hover img {
    transform: rotate(360deg);
}

@media (min-width: 1200px) {
    .spring span {
        font-size: 40px;
    }

    .enter-text span {
        font-size: 60px;
        line-height: 65px;
    }

    .select-form form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select-form form div.select-div span.select-line {
        display: inline-block;
        width: 1px;
        height: 50px;
        background-color: rgba(62, 89, 110, 0.3);
        margin-left: 8px;
    }

    .select-div {
        display: flex;
        align-items: center;
    }

    .select-title span {
        font-size: 30px;
    }
}

@media (max-width: 1199px) {
    .spring span {
        font-size: 20px;
    }

    .enter-text span {
        font-size: 30px;
    }

    .enter {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .select-form form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .select-div {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .select-title span {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .logo {
        padding-bottom: 15px;
        text-align: center;
    }
}

/*-------------banner--------------*/
/*=============header==============*/
.header {
    padding-top: 30px;
}

.menu {
    flex: 1;
}

.cabinet-in {
    border: 1px solid rgba(243, 246, 252, 1);
    border-radius: 50px;
    background-color: transparent;
    padding: 5px 5px 5px 30px;
}

.cabinet-in span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(243, 246, 252, 1);
}

.cabinet-in img {
    margin-left: 10px;
}

.cabinet-in img {
}

.cabinet .dropdown-menu {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.cabinet .dropdown-menu a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(62, 89, 110, 1);
}

.cabinet .dropdown-menu a:hover {
    color: rgba(117, 105, 223, 1);
}

.cabinet .dropdown-menu a span {
    margin-left: 8px;
}

.lang {
    margin-left: 20px;
}

.lang-in {
    position: relative;
}

.lang-in button {
    border: 1px solid rgba(243, 246, 252, 1);
    border-radius: 50%;
    background-color: transparent;
    width: 52px;
    height: 52px;
}

.lang-in button span {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(243, 246, 252, 1);
}

.lang {
}

.lang ul {
    position: absolute;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    display: none;
}

.lang ul li {
}

.lang ul li a {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.lang ul li a:hover {
    color: rgba(117, 105, 223, 1);
}

.lang-in:hover ul {
    display: block;
}

.menu .navbar-nav .nav-link {
    font-size: 18px;
    color: rgba(243, 246, 252, 1);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu .navbar-nav .nav-link:hover {
    color: rgba(117, 105, 223, 1);
    background-color: rgba(255, 255, 255, 1.0);
}

.menu .navbar-nav .show > .nav-link {
    color: rgba(117, 105, 223, 1);
    background-color: rgba(255, 255, 255, 1.0);
}

.menu .navbar-nav .dropdown-menu {
    margin-top: 0px;
    border-radius: 15px;
    overflow: hidden;
}

.menu .navbar-nav .dropdown-menu .dropdown-item {
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(62, 89, 110, 1);
}

.menu .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: rgba(117, 105, 223, 1);
}

.cab-lang {
    display: flex;
}

.menu .navbar-toggler {
    background-color: rgb(255 202 44);
}

@media (min-width: 1200px) {
    .menu .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }
}

@media (min-width: 1330px) {
    .menu-cab-lang {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 1329px) {

}

@media (max-width: 1199px) {
    .menu-cab-lang {
        position: relative;
    }
}

@media (max-width: 767px) {
    .cab-lang {
        position: absolute;
        right: 0;
        top: 2px;
    }
}

@media screen and (max-width: 1329px) and (min-width: 1200px) {
    .cab-lang {
        justify-content: flex-end;
    }

    .lang {
        margin-right: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .cab-lang {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .menu .navbar-toggler {
        margin-left: auto;
    }
}

@media (max-width: 460px) {
    .menu .navbar-toggler {
        position: absolute;
        top: -110px;
    }

    .menu {
        padding-top: 60px;
    }
}

/*-------------header--------------*/
/*=============heading=============*/
.heading {
}

.heading span:first-child {
    font-family: "SF-Pro-Rounded-Medium";
    color: rgba(62, 89, 110, 1);
}

.heading span:last-child {
    font-family: "SF-Pro-Rounded-Light";
    color: rgba(62, 89, 110, 1);
}

@media (min-width: 576px) {
    .heading span:first-child {
        font-size: 40px;
    }

    .heading span:last-child {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .heading span:first-child {
        font-size: 24px;
    }

    .heading span:last-child {
        font-size: 18px;
    }
}

/*-------------heading-------------*/